
<div id="zibody" style="background-color:#DFDFDF;">
	<br/><br/><br/><br/><br/><br/><br/>
  <div style="margin:0 auto;width:864px;">
  	  <span class="zi_menu_t" style="color:black"><span id="tohome" style="cursor:pointer;">首页</span>&nbsp;&nbsp;/&nbsp;&nbsp;邮轮度假主题&nbsp;&nbsp;/&nbsp;&nbsp;海外邮轮</span>
  	  <p>&nbsp;</p>
       <div class="myh1" style="font-size: 14px;padding-left:10px">海外邮轮推荐</div> 
  </div>

  <div style="margin:0 auto;width:864px;text-align:center">
        <div style="float: left;width: 215px;">
            <a target="_blank" href="loading?page=/advdetail1"><img class="img_4" src="images/advertising/fm1.jpg" width="200px" height="124"></a><br><br>
            <div style="width:200px;text-align:left;padding-left:10px" class="myh1">荷美邮轮</div>
            <div id="yjT00015" class="myp1sm1" style="width:200px;padding:0px 10px 10px 10px">
                      荷美邮轮 - 追求卓越的标志
                      作为中型邮轮，拥有15艘船舰，巡游100国家，超过500条线路。
                      在阿拉斯加线路上60年丰富的经验...
            </div>
            <div class="myh1b" style="text-align:left;padding:10px 10px 10px 10px" onclick="window.open('loading?page=/advdetail1');">查看详情 &gt;&gt;&gt;</div>
            <br><br>
        </div>
        
        <div style="float: left;width: 215px;height: 300px;">
            <a target="_blank" href="loading?page=/advdetail2"><img class="img_4" src="images/advertising/dsn1.jpg" width="200px" height="124"></a><br><br>
            <div style="width:200px;text-align:left;padding-left:10px" class="myh1">迪士尼邮轮</div>
            <div id="yjT00018" class="myp1sm1" style="width:200px;padding:0px 10px 10px 10px">迪士尼邮轮-最适合家庭出游 五度获Travel+Leisure等旅游杂志评选为世界最佳家庭型邮轮。旗下四艘邮轮分别为迪士尼幻想号...
        </div>
            <div class="myh1b" style="text-align:left;padding:10px 10px 10px 10px" onclick="window.open('loading?page=/advdetail2');">查看详情 &gt;&gt;&gt;</div>
            <br><br>
        </div>
        
        <div style="float: left;width: 215px;height: 300px;">
            <a target="_blank" href="loading?page=/advdetail3"><img class="img_4" src="images/advertising/sjyl_fm.jpg" width="200px" height="124"></a><br><br>
            <div style="width:200px;text-align:left;padding-left:10px" class="myh1">水晶邮轮</div>
            <div id="yjT00018" class="myp1sm1" style="width:200px;padding:0px 10px 10px 10px">水晶邮轮-一价全包的五星邮轮
           2013年连续第20年获《悦游》最佳中型邮轮出众的餐饮水准连顶级美食家也为之倾倒被票选为“世界最...

        </div>
            <div class="myh1b" style="text-align:left;padding:10px 10px 10px 10px" onclick="window.open('loading?page=/advdetail3');">查看详情 &gt;&gt;&gt;</div>
            <br><br>
        </div>
        
        
        <div style="clear:both;"></div>
    </div>
   <br/><br/>
</div>