<script>
  function xchangetab(i){
  if(i=="1"){
    $("#tabl1").attr("class","xtb1");$("#tab11").css("display","inline");
    $("#tabl2").attr("class","xtb2");$("#tab21").css("display","none");
    $("#tabl3").attr("class","xtb2");$("#tab31").css("display","none");
    $("#tabl4").attr("class","xtb2");$("#tab41").css("display","none");
    $("#tabl5").attr("class","xtb2");
     $("#tabl5_ul").css("display","none");
     $("#tabl6").attr("class","xtb2");$("#tab61").css("display","none");
     $("#tabl7").attr("class","xtb2");$("#tab71").css("display","none");
      $("#tabl8").attr("class","xtb2");$("#tab81").css("display","none");
       $("#tabl9").attr("class","xtb2");$("#tab91").css("display","none");   
  }else if(i=="2"){
    $("#tabl2").attr("class","xtb1");$("#tab21").css("display","inline");
    $("#tabl1").attr("class","xtb2");$("#tab11").css("display","none");
    $("#tabl3").attr("class","xtb2");$("#tab31").css("display","none");
    $("#tabl4").attr("class","xtb2");$("#tab41").css("display","none");
     $("#tabl5").attr("class","xtb2");
      $("#tabl5_ul").css("display","none");
      $("#tabl6").attr("class","xtb2");$("#tab61").css("display","none");
     $("#tabl7").attr("class","xtb2");$("#tab71").css("display","none");
      $("#tabl8").attr("class","xtb2");$("#tab81").css("display","none");
       $("#tabl9").attr("class","xtb2");$("#tab91").css("display","none");   
  }else if(i=="3"){
    $("#tabl3").attr("class","xtb1");$("#tab31").css("display","inline");
    $("#tabl2").attr("class","xtb2");$("#tab21").css("display","none");
    $("#tabl1").attr("class","xtb2");$("#tab11").css("display","none");
    $("#tabl4").attr("class","xtb2");$("#tab41").css("display","none");
     $("#tabl5").attr("class","xtb2");
      $("#tabl5_ul").css("display","none");
     $("#tabl6").attr("class","xtb2");$("#tab61").css("display","none");
     $("#tabl7").attr("class","xtb2");$("#tab71").css("display","none");
      $("#tabl8").attr("class","xtb2");$("#tab81").css("display","none");
       $("#tabl9").attr("class","xtb2");$("#tab91").css("display","none");   
  }else if(i=="4"){
    $("#tabl4").attr("class","xtb1");$("#tab41").css("display","inline");
    $("#tabl3").attr("class","xtb2");$("#tab31").css("display","none");
    $("#tabl2").attr("class","xtb2");$("#tab21").css("display","none");
    $("#tabl1").attr("class","xtb2");$("#tab11").css("display","none");
     $("#tabl5").attr("class","xtb2");
        $("#tabl5_ul").css("display","none");
       $("#tabl6").attr("class","xtb2");$("#tab61").css("display","none");
     $("#tabl7").attr("class","xtb2");$("#tab71").css("display","none");
      $("#tabl8").attr("class","xtb2");$("#tab81").css("display","none");
       $("#tabl9").attr("class","xtb2");$("#tab91").css("display","none");   
  }else if(i=="5"){
    //$("#tabl5").attr("class","xtb1");
    $("#tabl5_ul").css("display","inline");
   // $("#tabl4").attr("class","xtb2");//$("#tab41").css("display","none");
   // $("#tabl3").attr("class","xtb2");//$("#tab31").css("display","none");
   // $("#tabl2").attr("class","xtb2");//$("#tab21").css("display","none");
   // $("#tabl1").attr("class","xtb2");//$("#tab11").css("display","none");
   // $("#tabl6").attr("class","xtb2");//$("#tab61").css("display","none");
    // $("#tabl7").attr("class","xtb2");//$("#tab71").css("display","none");
     // $("#tabl8").attr("class","xtb2");//$("#tab81").css("display","none");
     //  $("#tabl9").attr("class","xtb2");//$("#tab91").css("display","none");   
        
 }else if(i=="6"){
  $("#tabl5").attr("class","xtb1")
     $("#tabl1").attr("class","xtb2");
     $("#tab11").css("display","none");
    $("#tabl2").attr("class","xtb2");
    $("#tab21").css("display","none");
    $("#tabl3").attr("class","xtb2");
    $("#tab31").css("display","none");
    $("#tabl4").attr("class","xtb2");
    $("#tab41").css("display","none");
    $("#tabl6").attr("class","xtb1");
    $("#tab61").css("display","inline");
     $("#tabl7").attr("class","xtb2");
     $("#tab71").css("display","none");
      $("#tabl8").attr("class","xtb2");
      $("#tab81").css("display","none");
       $("#tabl9").attr("class","xtb2");
       $("#tab91").css("display","none");
       $("#tabl5_ul").css("display","none");
 }else if(i=="7"){
  $("#tabl5").attr("class","xtb1")
   $("#tabl1").attr("class","xtb2");$("#tab11").css("display","none");
    $("#tabl2").attr("class","xtb2");$("#tab21").css("display","none");
    $("#tabl3").attr("class","xtb2");$("#tab31").css("display","none");
    $("#tabl4").attr("class","xtb2");$("#tab41").css("display","none");
    $("#tabl6").attr("class","xtb2");$("#tab61").css("display","none");
     $("#tabl7").attr("class","xtb1");$("#tab71").css("display","inline");
      $("#tabl8").attr("class","xtb2");$("#tab81").css("display","none");
       $("#tabl9").attr("class","xtb2");$("#tab91").css("display","none");  
       $("#tabl5_ul").css("display","none");  
 } else if(i=="8"){
  $("#tabl5").attr("class","xtb1")
   $("#tabl1").attr("class","xtb2");$("#tab11").css("display","none");
    $("#tabl2").attr("class","xtb2");$("#tab21").css("display","none");
    $("#tabl3").attr("class","xtb2");$("#tab31").css("display","none");
    $("#tabl4").attr("class","xtb2");$("#tab41").css("display","none");
   $("#tabl6").attr("class","xtb2");$("#tab61").css("display","none");
     $("#tabl7").attr("class","xtb2");$("#tab71").css("display","none");
      $("#tabl8").attr("class","xtb1");$("#tab81").css("display","inline");
       $("#tabl9").attr("class","xtb2");$("#tab91").css("display","none");
       $("#tabl5_ul").css("display","none");
 } else if(i=="9"){

  $("#tabl5").attr("class","xtb1")
   $("#tabl1").attr("class","xtb2");$("#tab11").css("display","none");
    $("#tabl2").attr("class","xtb2");$("#tab21").css("display","none");
    $("#tabl3").attr("class","xtb2");$("#tab31").css("display","none");
    $("#tabl4").attr("class","xtb2");$("#tab41").css("display","none");
    $("#tabl6").attr("class","xtb2");$("#tab61").css("display","none");
     $("#tabl7").attr("class","xtb2");$("#tab71").css("display","none");
      $("#tabl8").attr("class","xtb2");$("#tab81").css("display","none");
       $("#tabl9").attr("class","xtb1");$("#tab91").css("display","inline");   
       $("#tabl5_ul").css("display","none");
 }
}

function hov(i){
  if(i=="6"){
    $("#tabl6").attr("class","xtb1");
     $("#tabl7").attr("class","xtb2");
      $("#tabl8").attr("class","xtb2");
       $("#tabl9").attr("class","xtb2");
        //$("#tabl5").attr("class","xtb1");
 }else if(i=="7"){
    $("#tabl6").attr("class","xtb2");
     $("#tabl7").attr("class","xtb1");
      $("#tabl8").attr("class","xtb2");
       $("#tabl9").attr("class","xtb2"); 
       // $("#tabl5").attr("class","xtb1");  
 } else if(i=="8"){
   $("#tabl6").attr("class","xtb2");
     $("#tabl7").attr("class","xtb2");
      $("#tabl8").attr("class","xtb1");
       $("#tabl9").attr("class","xtb2");
       // $("#tabl5").attr("class","xtb1");
 } else if(i=="9"){
    $("#tabl6").attr("class","xtb2");
     $("#tabl7").attr("class","xtb2");
      $("#tabl8").attr("class","xtb2");
       $("#tabl9").attr("class","xtb1");
       // $("#tabl5").attr("class","xtb1");
 }
}
</script>
<div style='height:107px;width:100%;background-color:#DFDFDF;'></div>

<div id="zibody" style="background-color:#DFDFDF;">
<div style="margin:0 auto;width:864px;">
   
<div id='b1'>

  <div style="margin:0 auto;width:864px;"><br/><br/>
      <span class="zi_menu_t" style="color:black"><span id="tohome" style="cursor:pointer;">首页</span>&nbsp;&nbsp;/&nbsp;&nbsp;邮轮度假主题&nbsp;&nbsp;/&nbsp;&nbsp;海外邮轮推荐&nbsp;&nbsp;/&nbsp;&nbsp;水晶邮轮</span>
      <p>&nbsp;</p>
  </div>
   <br/>

	<img src="images/advertising/sjyl_fm.jpg" width="100%">
	<div style='background:#FFFFFF'>
		
<br/>

	   <div style="text-align: center;width:100%;font-weight: bold;font-size:18px;font-family:微软雅黑;">水晶邮轮</div>
	   <p style="padding:20px;font-size:14px">
水晶邮轮-一价全包的五星邮轮<br/>
2013年连续第20年获《悦游》最佳中型邮轮<br/>
出众的餐饮水准连顶级美食家也为之倾倒
被票选为“世界最佳”的次数超越任何一家邮轮公司、酒店及度假村

	   </p>

    
     <table width="400" border="0"  cellspacing="0" style='margin:0 auto'>
       <tr>
         <td><div class="xtb1" id="tabl1" onclick="xchangetab('1')">邮轮介绍</div></td>
         <td><div class="xtb2" id="tabl2" onclick="xchangetab('2')">全年航线</div></td>
         <td><div class="xtb2" id="tabl3" onclick="xchangetab('3')">餐饮服务</div></td>
         <td><div class="xtb2" id="tabl4" onclick="xchangetab('4')">舒适舱房</div></td>
         <td><div class="xtb2" id="tabl5" onmouseover="xchangetab('5')" >精选航线</div></td>
       </tr>
      </table><div style=' background-image:url(images/deepbule.png);height: 4px;'></div>
       <ul id='tabl5_ul' style='list-style:none;position:absolute;left:859px;display:none'>
          <li style='' id="tabl6" class="xtb2" onmouseover="hov('6')" onclick="xchangetab('6')">东南亚</li>
          <li style='' id="tabl7" class="xtb2" onmouseover="hov('7')" onclick="xchangetab('7')">加勒比</li>
          <li style='' id="tabl8" class="xtb2" onmouseover="hov('8')" onclick="xchangetab('8')">欧洲与地中海</li>
          <li style='' id="tabl9" class="xtb2" onmouseover="hov('9')" onclick="xchangetab('9')">南美洲与南极</li>
       </ul>
   
	    <br/>
	   <div id='tab11' style="">
      <img src="images/advertising/sjyl11.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
	   	<img src="images/advertising/sjyl12.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
	   	<img src="images/advertising/sjyl13.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
	   	<img src="images/advertising/sjyl17.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
	   	<img src="images/advertising/sjyl31.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
	   	<img src="images/advertising/sjyl37.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
	   	<img src="images/advertising/sjyl34.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
	   	<img src="images/advertising/sjyl35.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
      <img src="images/advertising/sjyl103.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
      <img src="images/advertising/sjyl104.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
      <img src="images/advertising/sjyl114.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
	   </div>

     <div id='tab21' style="display:none;">
        <img src="images/advertising/sjyl6.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
        <img src="images/advertising/sjyl2.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
        <img src="images/advertising/sjyl3.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
         <img src="images/advertising/sjyl22.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
        <img src="images/advertising/sjyl23.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
        <img src="images/advertising/sjyl25.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
         <img src="images/advertising/sjyl43.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
        <img src="images/advertising/sjyl45.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
        <img src="images/advertising/sjyl51.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
     </div>

     <div id='tab31' style="display:none;">
        <img src="images/advertising/sjyl9.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
        <img src="images/advertising/sjyl10.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
        <img src="images/advertising/sjyl14.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
        <img src="images/advertising/sjyl15.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
        <img src="images/advertising/sjyl26.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
        <img src="images/advertising/sjyl27.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
        <img src="images/advertising/sjyl28.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
        <img src="images/advertising/sjyl29.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
        <img src="images/advertising/sjyl39.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
     </div>

     <div id='tab41' style="display:none;">
        <img src="images/advertising/sjyl18.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
        <img src="images/advertising/sjyl19.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
        <img src="images/advertising/sjyl108.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
        <img src="images/advertising/sjyl109.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
        <img src="images/advertising/sjyl110.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
        <img src="images/advertising/sjyl11.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
        <img src="images/advertising/sjyl112.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
        <img src="images/advertising/sjyl113.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
        <img src="images/advertising/sjyl118.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
        <img src="images/advertising/sjyl119.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
        <img src="images/advertising/sjyl120.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
        <img src="images/advertising/sjyl121.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
        <img src="images/advertising/sjyl122.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
        <img src="images/advertising/sjyl123.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
     </div>

     <div id='tab61' style="display:none;">
        <img src="images/advertising/sjyl62.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
        <img src="images/advertising/sjyl64.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
        <img src="images/advertising/sjyl65.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
        <img src="images/advertising/sjyl66.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
        <img src="images/advertising/sjyl67.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
        <img src="images/advertising/sjyl69.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
     </div>


     <div id='tab71' style="display:none;">
        <img src="images/advertising/sjyl54.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
        <img src="images/advertising/sjyl56.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
        <img src="images/advertising/sjyl57.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
        <img src="images/advertising/sjyl58.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
        <img src="images/advertising/sjyl59.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
        <img src="images/advertising/sjyl60.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
        <img src="images/advertising/sjyl61.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
     </div>


     <div id='tab81' style="display:none;">
        <img src="images/advertising/sjyl70.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
        <img src="images/advertising/sjyl72.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
        <img src="images/advertising/sjyl73.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
        <img src="images/advertising/sjyl74.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
        <img src="images/advertising/sjyl75.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
        <img src="images/advertising/sjyl76.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
        <img src="images/advertising/sjyl77.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
        <img src="images/advertising/sjyl78.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
        <img src="images/advertising/sjyl79.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
        <img src="images/advertising/sjyl80.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
        <img src="images/advertising/sjyl81.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
        <img src="images/advertising/sjyl82.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
        <img src="images/advertising/sjyl83.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
        <img src="images/advertising/sjyl84.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
        <img src="images/advertising/sjyl85.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
        <img src="images/advertising/sjyl86.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
        <img src="images/advertising/sjyl87.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
     </div>


     <div id='tab91' style="display:none;">
        <img src="images/advertising/sjyl94.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
        <img src="images/advertising/sjyl95.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
        <img src="images/advertising/sjyl96.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
        <img src="images/advertising/sjyl97.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
        <img src="images/advertising/sjyl98.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
        <img src="images/advertising/sjyl99.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
     </div>

	</div>
</div>


<br/><br/>
</div>
</div>