<script>

  function xchangetab(i){
    if(i=="6"){
    $("#tabl6").attr("class","xtb1");$("#tab61").css("display","inline");
    $("#tabl7").attr("class","xtb2");$("#tab71").css("display","none");
    $("#tabl8").attr("class","xtb2");$("#tab81").css("display","none");
    $("#tabl9").attr("class","xtb2");$("#tab91").css("display","none");
    $("#tabl10").attr("class","xtb2");$("#tab101").css("display","none");
    $("#tabl11").attr("class","xtb2");$("#tab111").css("display","none");
    $("#tab112").attr("class","xtb2");$("#tab201").css("display","none"); 
        
 }else if(i=="7"){
    $("#tabl6").attr("class","xtb2");$("#tab61").css("display","none");
    $("#tabl7").attr("class","xtb1");$("#tab71").css("display","inline");
    $("#tabl8").attr("class","xtb2");$("#tab81").css("display","none");
    $("#tabl9").attr("class","xtb2");$("#tab91").css("display","none");
    $("#tabl10").attr("class","xtb2");$("#tab101").css("display","none");
    $("#tabl11").attr("class","xtb2");$("#tab111").css("display","none");
    $("#tab112").attr("class","xtb2");$("#tab201").css("display","none"); 
        
 } else if(i=="8"){
   $("#tabl6").attr("class","xtb2");$("#tab61").css("display","none");
    $("#tabl7").attr("class","xtb2");$("#tab71").css("display","none");
    $("#tabl8").attr("class","xtb1");$("#tab81").css("display","inline");
    $("#tabl9").attr("class","xtb2");$("#tab91").css("display","none");
    $("#tabl10").attr("class","xtb2");$("#tab101").css("display","none");
    $("#tabl11").attr("class","xtb2");$("#tab111").css("display","none");
    $("#tab112").attr("class","xtb2");$("#tab201").css("display","none"); 
        
 } else if(i=="9"){
    $("#tabl6").attr("class","xtb2");$("#tab61").css("display","none");
    $("#tabl7").attr("class","xtb2");$("#tab71").css("display","none");
    $("#tabl8").attr("class","xtb2");$("#tab81").css("display","none");
    $("#tabl9").attr("class","xtb1");$("#tab91").css("display","inline");
    $("#tabl10").attr("class","xtb2");$("#tab101").css("display","none");
    $("#tabl11").attr("class","xtb2");$("#tab111").css("display","none");
    $("#tab112").attr("class","xtb2");$("#tab201").css("display","none"); 
        
 }  else if(i=="10"){
    $("#tabl6").attr("class","xtb2");$("#tab61").css("display","none");
    $("#tabl7").attr("class","xtb2");$("#tab71").css("display","none");
    $("#tabl8").attr("class","xtb2");$("#tab81").css("display","none");
    $("#tabl9").attr("class","xtb2");$("#tab91").css("display","none");
    $("#tabl10").attr("class","xtb1");$("#tab101").css("display","inline");
    $("#tabl11").attr("class","xtb2");$("#tab111").css("display","none");
    $("#tab112").attr("class","xtb2");$("#tab201").css("display","none"); 
        
 }  else if(i=="11"){
    $("#tabl6").attr("class","xtb2");$("#tab61").css("display","none");
    $("#tabl7").attr("class","xtb2");$("#tab71").css("display","none");
    $("#tabl8").attr("class","xtb2");$("#tab81").css("display","none");
    $("#tabl9").attr("class","xtb2");$("#tab91").css("display","none");
    $("#tabl10").attr("class","xtb2");$("#tab101").css("display","none");
    $("#tabl11").attr("class","xtb1");$("#tab111").css("display","inline");
    $("#tab112").attr("class","xtb2");$("#tab201").css("display","none"); 
        
 }  else if(i=="12"){
    $("#tabl6").attr("class","xtb2");$("#tab61").css("display","none");
    $("#tabl7").attr("class","xtb2");$("#tab71").css("display","none");
    $("#tabl8").attr("class","xtb2");$("#tab81").css("display","none");
    $("#tabl9").attr("class","xtb2");$("#tab91").css("display","none");
    $("#tabl10").attr("class","xtb2");$("#tab101").css("display","none");
    $("#tabl11").attr("class","xtb2");$("#tab111").css("display","none");
    $("#tab112").attr("class","xtb1");$("#tab201").css("display","inline");    
 }          
}
</script>
<div style='height:107px;width:100%;background-color:#DFDFDF;'></div>

<div id="zibody" style="background-color:#DFDFDF;">
<div style="margin:0 auto;width:864px;">

<div id='b2'>

    <div style="margin:0 auto;width:864px;"><br/><br/>
      <span class="zi_menu_t" style="color:black"><span id="tohome" style="cursor:pointer;">首页</span>&nbsp;&nbsp;/&nbsp;&nbsp;邮轮度假主题&nbsp;&nbsp;/&nbsp;&nbsp;海外邮轮推荐&nbsp;&nbsp;/&nbsp;&nbsp;迪士尼邮轮</span>
      <p>&nbsp;</p>
  </div>
   <br/>

   <img src="images/advertising/dsn1.jpg" width="100%">
  <div style='background:#FFFFFF'>
    
 <br/>

     <div style="text-align: center;width:100%;font-weight: bold;font-size:18px;font-family:微软雅黑;">迪士尼邮轮</div>
     <p style="padding:20px;font-size:14px">迪士尼邮轮-最适合家庭出游 五度获Travel+Leisure等旅游杂志评选为世界最佳家庭型邮轮。<br/>旗下四艘邮轮分别为迪士尼幻想号、迪士尼梦想号、迪士尼奇迹号和迪士尼魔力号，它们宛若一座座移动的迪士尼乐园。<br/>让孩子在国际化全英文环境中与世界各地的孩子们一起交流、玩耍，和杰克船长一起去探险，感受童话王国的魅力与风采！


     </p>

    
     <table width="400" border="0"  cellspacing="0" style='margin:0 auto'>
       <tr>
         <td><div class="xtb1" id="tab112" onclick="xchangetab('12')">梦幻乐园</div></td>
         <td><div class="xtb2" id="tabl6" onclick="xchangetab('6')">邮轮介绍</div></td>
         <td><div class="xtb2" id="tabl7" onclick="xchangetab('7')">安心服务</div></td>
         <td><div class="xtb2" id="tabl8" onclick="xchangetab('8')">舒适舱房</div></td>
         <td><div class="xtb2" id="tabl9" onclick="xchangetab('9')">航线-巴哈马</div></td>
         <td><div class="xtb2" id="tabl10" onclick="xchangetab('10')">航线-加勒比</div></td>
         <td><div class="xtb2" id="tabl11" onclick="xchangetab('11')">航线-阿拉斯加</div></td>
       </tr>
      </table><div style=' background-image:url(images/deepbule.png);height: 4px;'></div>
      
    <br/>
     
     <div id='tab201' style="">
     <iframe frameborder="0" src="http://mp.weixin.qq.com/s?__biz=MzA4MDQ0MzIyNQ==&mid=204106469&idx=1&sn=7626b7574a975301e031d46c6bfe6d86&scene=1&key=b2574200810f04e87b7478b224cdfc35e4b3746ec04e3006d0ae466d60606580db9449e422d28457223e1b09a4262d01&ascene=1&uin=MTI3ODQyMTM4MA%3D%3D&devicetype=Windows-QQBrowser&version=61000f01&pass_ticket=apMKte%2FXj%2FfMi4%2FD8JRRJ9RXP1t8WGifcQg%2FuGAwJXPHHmrMGJr9%2BY0ViWe3UDlq" style="width:860px;height:6900px"></iframe>
     </div>

     <div id='tab61' style="display:none">
     <img src="images/advertising/dsn2.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
     <img src="images/advertising/dsn3.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
     <img src="images/advertising/dsn4.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
     <img src="images/advertising/dsn5.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
     <img src="images/advertising/dsn6.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
     <img src="images/advertising/dsn7.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
     <img src="images/advertising/dsn8.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
     <img src="images/advertising/dsn9.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
     <img src="images/advertising/dsn10.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
     <img src="images/advertising/dsn11.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
     <img src="images/advertising/dsn12.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
     <img src="images/advertising/dsn13.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
     </div>

     <div id='tab71' style="display:none">
     <img src="images/advertising/dsn48.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
     <img src="images/advertising/dsn49.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
     <img src="images/advertising/dsn50.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
     <img src="images/advertising/dsn51.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
     <img src="images/advertising/dsn52.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
     <img src="images/advertising/dsn53.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
     <img src="images/advertising/dsn54.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
     <img src="images/advertising/dsn55.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
     <img src="images/advertising/dsn56.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
     <img src="images/advertising/dsn57.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
     <img src="images/advertising/dsn58.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
     <img src="images/advertising/dsn59.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
     <img src="images/advertising/dsn60.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
     <img src="images/advertising/dsn61.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
     </div>

     <div id='tab81' style="display:none">
     <img src="images/advertising/dsn14.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
     <img src="images/advertising/dsn15.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
     <img src="images/advertising/dsn16.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
     <img src="images/advertising/dsn17.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
     <img src="images/advertising/dsn18.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
     <img src="images/advertising/dsn19.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
     <img src="images/advertising/dsn20.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
     <img src="images/advertising/dsn21.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
     <img src="images/advertising/dsn22.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
     </div>

     <div id='tab91' style="display:none">
     <img src="images/advertising/dsn28.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
     <img src="images/advertising/dsn29.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
     <img src="images/advertising/dsn30.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
     <img src="images/advertising/dsn31.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
     <img src="images/advertising/dsn32.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
     <img src="images/advertising/dsn33.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
     <img src="images/advertising/dsn34.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
     <img src="images/advertising/dsn25.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
     <img src="images/advertising/dsn26.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
     <img src="images/advertising/dsn27.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
     </div>

     <div id='tab101' style="display:none">
     <img src="images/advertising/dsn35.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
     <img src="images/advertising/dsn36.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
     <img src="images/advertising/dsn37.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
     <img src="images/advertising/dsn38.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
     <img src="images/advertising/dsn39.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
     <img src="images/advertising/dsn40.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
     <img src="images/advertising/dsn41.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
     <img src="images/advertising/dsn42.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
     <img src="images/advertising/dsn43.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
     <img src="images/advertising/dsn44.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
     </div>

      <div id='tab111' style="display:none">
      <img src="images/advertising/dsn45.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
      <img src="images/advertising/dsn46.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
      <img src="images/advertising/dsn47.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
     </div>
  </div>
</div>
<br/><br/>
</div>
</div>