<script>

  function xchangetab(i){
  if(i=="1"){
    $("#tabl1").attr("class","xtb1");$("#tab11").css("display","inline");
    $("#tabl2").attr("class","xtb2");$("#tab21").css("display","none");
    $("#tabl3").attr("class","xtb2");$("#tab31").css("display","none");
    $("#tabl4").attr("class","xtb2");$("#tab41").css("display","none");
    $("#tabl5").attr("class","xtb2");$("#tab51").css("display","none");
  }else if(i=="2"){
    $("#tabl2").attr("class","xtb1");$("#tab21").css("display","inline");
    $("#tabl1").attr("class","xtb2");$("#tab11").css("display","none");
    $("#tabl3").attr("class","xtb2");$("#tab31").css("display","none");
    $("#tabl4").attr("class","xtb2");$("#tab41").css("display","none");
     $("#tabl5").attr("class","xtb2");$("#tab51").css("display","none");
  }else if(i=="3"){
    $("#tabl3").attr("class","xtb1");$("#tab31").css("display","inline");
    $("#tabl2").attr("class","xtb2");$("#tab21").css("display","none");
    $("#tabl1").attr("class","xtb2");$("#tab11").css("display","none");
    $("#tabl4").attr("class","xtb2");$("#tab41").css("display","none");
     $("#tabl5").attr("class","xtb2");$("#tab51").css("display","none");
  }else if(i=="4"){
    $("#tabl4").attr("class","xtb1");$("#tab41").css("display","inline");
    $("#tabl3").attr("class","xtb2");$("#tab31").css("display","none");
    $("#tabl2").attr("class","xtb2");$("#tab21").css("display","none");
    $("#tabl1").attr("class","xtb2");$("#tab11").css("display","none");
     $("#tabl5").attr("class","xtb2");$("#tab51").css("display","none");
        
  }else if(i=="5"){
    $("#tabl5").attr("class","xtb1");$("#tab51").css("display","inline");
    $("#tabl4").attr("class","xtb2");$("#tab41").css("display","none");
    $("#tabl3").attr("class","xtb2");$("#tab31").css("display","none");
    $("#tabl2").attr("class","xtb2");$("#tab21").css("display","none");
    $("#tabl1").attr("class","xtb2");$("#tab11").css("display","none");
        
 }
}
</script>
<div style='height:107px;width:100%;background-color:#DFDFDF;'></div>

<div id="zibody" style="background-color:#DFDFDF;">
<div style="margin:0 auto;width:864px;">
   
<div id='b1'>

  <div style="margin:0 auto;width:864px;"><br/><br/>
      <span class="zi_menu_t" style="color:black"><span id="tohome" style="cursor:pointer;">首页</span>&nbsp;&nbsp;/&nbsp;&nbsp;邮轮度假主题&nbsp;&nbsp;/&nbsp;&nbsp;海外邮轮推荐&nbsp;&nbsp;/&nbsp;&nbsp;荷美邮轮</span>
      <p>&nbsp;</p>
  </div>
   <br/>

	<img src="images/advertising/fm1.jpg" width="100%">
	<div style='background:#FFFFFF'>
		
<br/>

	   <div style="text-align: center;width:100%;font-weight: bold;font-size:18px;font-family:微软雅黑;">荷美邮轮</div>
	   <p style="padding:20px;font-size:14px">荷美邮轮 - 追求卓越的标志<br/>
作为中型邮轮，拥有15艘船舰，巡游100国家，超过500条线路。<br/>
在阿拉斯加线路上60年丰富的经验，几乎每条线路都涵盖冰川观光之旅。更配有独家行程和专用酒店。<br/>
荷美邮轮最大的秘密武器，便是他们无以伦比的员工。屡获“5星钻石服务奖”
成为TravelAge West全球客户满意度最高的邮轮公司！

	   </p>

    
     <table width="400" border="0"  cellspacing="0" style='margin:0 auto'>
       <tr>
         <td><div class="xtb1" id="tabl1" onclick="xchangetab('1')">邮轮介绍</div></td>
         <td><div class="xtb2" id="tabl5" onclick="xchangetab('5')">餐饮服务</div></td>
         <td><div class="xtb2" id="tabl2" onclick="xchangetab('2')">舒适舱房</div></td>
         <td><div class="xtb2" id="tabl3" onclick="xchangetab('3')">航线-地中海</div></td>
         <td><div class="xtb2" id="tabl4" onclick="xchangetab('4')">航线-阿拉斯加</div></td>
       </tr>
      </table><div style=' background-image:url(images/deepbule.png);height: 4px;'></div>
      
    <br/>
	   

	   <div id='tab11' style="">
      <img src="images/advertising/indexHMYL.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
	   	<img src="images/advertising/2_1hmdpz.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
	   	<img src="images/advertising/2_2hmdpz.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
	   	<img src="images/advertising/2_3hmdpz.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
	   	<img src="images/advertising/4_3hmdjz.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
	   	<img src="images/advertising/4_4hmdjz.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
	   	<img src="images/advertising/4_5hmdjz.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
	   	<img src="images/advertising/4_6hmdjz.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
	   </div>

     <div id='tab21' style="display:none">
        <img src="images/advertising/sscf1.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
        <img src="images/advertising/sscf2.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
        <img src="images/advertising/sscf3.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
     </div>

     <div id='tab31' style="display:none">
        <img src="images/advertising/dzh1.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
        <img src="images/advertising/dzh2.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
        <img src="images/advertising/dzh3.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
        <img src="images/advertising/dzh4.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
        <img src="images/advertising/dzh5.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
        <img src="images/advertising/dzh6.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
        <img src="images/advertising/dzh7.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
        <img src="images/advertising/dzh8.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
     </div>

     <div id='tab41' style="display:none">
        <img src="images/advertising/alsj1.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
        <img src="images/advertising/alsj2.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
        <img src="images/advertising/alsj3.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
        <img src="images/advertising/alsj4.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
        <img src="images/advertising/alsj5.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
        <img src="images/advertising/alsj6.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
        <img src="images/advertising/alsj7.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
        <img src="images/advertising/alsj8.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
     </div>

     <div id='tab51' style="display:none">
      <img src="images/advertising/3_1hmdpw.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
      <img src="images/advertising/3_2hmdpw.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
      <img src="images/advertising/3_3hmdpw.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
      <img src="images/advertising/3_4hmdpw.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
      <img src="images/advertising/3_5hmdpw.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
      <img src="images/advertising/3_6hmdpw.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
      <img src="images/advertising/4_1hmdjz.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
      <img src="images/advertising/4_2hmdjz.jpg" width="824px" style='padding-bottom:5px;padding-left:20px;padding-right:20px;'>
     </div>

	</div>
</div>


<br/><br/>
</div>
</div>