<div style="width:864px;background:#FFFFFF;border-bottom:2px dotted #B3B3B3"><!--标题-->

        <div style="width:100px;text-align:center;float:left;margin-top:20px;margin-left:-10px">
            <img src="images/style/group.png" style="">
        </div>

            <div style="width:754px;float:right;margin-top:20px;margin-right:10px;margin-bottom:10px">

                <div  style="width:454px;float:left;margin-left:-10px">
                    <p class="fontSize16 fontWeight">12月19日海洋绿洲号11天12晚澳洲新西兰游</p>
                    <p style="color:#F37041;font-size:14px;">【上海出发】出发日期:201512-19</p>
                </div>

                <div style="width:300px;float:right">
                    <img src="images/style/download.png" style="float:left;cursor:pointer;vertical-align:middle;margin-top:3px;margin-left:50px">
                    <span style="font-size:16px;color:#8CC63F;vertical-align:middle;font-weight:bold;padding-left:5px;cursor:pointer;">下载行程</span>

                    <div class="wxdtb1" style="float:right;cursor:pointer;padding-bottom:15px">
                        <div  style="float:none" >
                         <img  src="images/style/scan.png" style="vertical- align:bottom;margin-top:2px">
                         <span style="font-size:16px;color:#3EAACE;vertical-align:top;font-weight:bold;padding-left:5px;">微信扫描分享</span>
                       </div>
                    </div> <!--微信图标-->

                </div>

                <div style="width:520px;float:left;font-size:14px;margin-left:-10px">深州-香港-加深对-房改房-发鬼地方-阿达的福-发股份大股东-皇家-第三方-DSV-SDSFDS-是倒萨-非官方的骨灰-度假胜地</div>

                <div class="wxxtb01" style="display:none;position:absolute;margin-left:520px;margin-top:-5px;cursor:pointer">  <!--微信大图标-->
                    <img class="wxxtb01" src="images/style/sca_product.png" style="position:absolute;margin-top:30px;margin-left:30px">
                    <img class="wxxtb01" src="images/tp14.png" style="position:absolute;margin-top:45px;margin-left:45px;width:170px;height:170px">
                    <p style="position:absolute;font-size:14px;margin-top:210px;margin-left:45px;font-weight:bold;line-height:20px;width:180px;height:30px">扫一扫,通过手机浏览邮轮产品,分享给好友
                </p>

               </div>
            
            </div>
                <div style="clear:both"></div>
      
</div><!--end标题-->


<div>   <!--填写游客信息-->
        <h3 style="color:#003660;margin-top:10px;margin-bottom:10px;font-size:16px">第二步：填写游客信息</h3>

        <div style="width:864px">    <!--1-->

            <div style="background-image:url(images/style/hx.png);height:36px;width:864px;">
                <div style="float:left;margin-left:20px;margin-top:8px">
                    <span style="font-size:15px;font-weight:bold">1.标准内舱双人房</span>&nbsp; &nbsp; &nbsp; &nbsp;
                    <span style="font-size:14px;color:#666666">最大入住人数2人</span>
                </div>

                <div style="float:right;margin-right:20px;margin-top:5px">
                    <img id="toggle_context1" src="images/style/input.png" style="cursor:pointer">
                </div>
                
            </div>

            <div style="background:#FFFFFF;"><!--1白色区域的整体 开始-->

     <!--开始--><div style="padding:10px 20px 10px 20px;border-bottom:2px dotted #B3B3B3"> <!--虚线上面content-->  

                    <div style="width:400px;margin-bottom:5px">
                        <div style="float:left;font-size:14px;font-weight:bold">选择出游人数：</div>
                    </div> 

                         <div style="clear:both"></div><!--清除浮动-->

                    <div style="width:824px">
                        <div style="width:500px;float:left">
                            <div style="float:left">
                                <span style="color:#666666;font-size:13px">成人</span>&nbsp; &nbsp; &nbsp; &nbsp;<img class="minus" src="images/style/minus.png" style="vertical-align:middle;cursor:pointer;width:15px;height:15px">&nbsp;&nbsp;<input class="input_box" type="text" value="1" style="padding:3px 12px 3px 12px;vertical-align:middle;width:15px;height:9px;border-radius:3px"/>&nbsp;&nbsp;<img class="plus" src="images/style/plus.png" style="vertical-align:middle;cursor:pointer;width:15px;height:15px">
                            </div>
                            <div style="float:right">
                                <span style="color:#666666;font-size:13px">儿童</span>&nbsp; &nbsp; &nbsp; &nbsp;<img class="minus" src="images/style/minus.png" style="vertical-align:middle;cursor:pointer;width:15px;height:15px">&nbsp;&nbsp;<input class="input_box" type="text" value="1" style="padding:3px 12px 3px 12px;vertical-align:middle;width:15px;height:9px;border-radius:3px"/>&nbsp;&nbsp;<img class="plus" src="images/style/plus.png" style="vertical-align:middle;cursor:pointer;width:15px;height:15px">
                            </div>
                        </div>
                        <div style="width:324px;float:right">
                             <div style="float:right">
                                <span style="font-size:14px;font-weight:bold">合计：</span><span style="font-size:16px;color:red;font-weight:bold">￥2234</span>
                            </div>    
                        </div>    
                    </div>
                               <div style="clear:both"></div><!--清除浮动-->
     <!--结束--></div>   <!--虚线上面content结束-->

     <!--开始--><div id="context1" style="padding:10px 20px 10px 20px;display:none">
                   <div style="font-size:14px;font-weight:bold">游客信息：</div>
                   <div style="width:824px">
                       <div style="float:left;padding-left:43px;padding-right:43px;font-size:14px">姓</div>
                       <div style="float:left;padding-left:75px;padding-right:75px;font-size:14px">名</div>
                       <div style="float:left;padding-left:36px;padding-right:36px;font-size:14px">姓(拼音)</div>
                       <div style="float:left;padding-left:57px;padding-right:57px;font-size:14px">名(拼音)</div>
                       <div style="float:left;padding-left:43px;padding-right:43px;font-size:14px">性别</div>
                       <div style="float:left;padding-left:50px;font-size:14px">出生日期</div>
                   </div><div style="clear:both"></div><!--清除浮动-->

                   <div style="margin-top:5px">
                       <input  style="width:90px;border-radius:3px" type="text" value=""/>&nbsp; &nbsp;
                       <input  style="width:145px;border-radius:3px" type="text" value=""/>&nbsp; &nbsp;
                       <input  style="width:90px;border-radius:3px" type="text" value=""/>&nbsp; &nbsp;
                       <input  style="width:145px;border-radius:3px" type="text" value=""/>&nbsp; &nbsp;
                       <input  style="width:90px;border-radius:3px" type="text" value=""/>&nbsp; &nbsp;
                       <input  style="width:145px;border-radius:3px" type="text" value=""/>
                   </div>
                    <div style="margin-top:5px">
                       <input  style="width:90px;border-radius:3px" type="text" value=""/>&nbsp; &nbsp;
                       <input  style="width:145px;border-radius:3px" type="text" value=""/>&nbsp; &nbsp;
                       <input  style="width:90px;border-radius:3px" type="text" value=""/>&nbsp; &nbsp;
                       <input  style="width:145px;border-radius:3px" type="text" value=""/>&nbsp; &nbsp;
                       <input  style="width:90px;border-radius:3px" type="text" value=""/>&nbsp; &nbsp;
                       <input  style="width:145px;border-radius:3px" type="text" value=""/>
                   </div>

     <!--结束--></div> 

        
            </div><!--1白色区域的整体 结束-->
            
        </div><!--1 结束-->



        <div style="width:864px;margin-top:10px">    <!--2-->

            <div style="background-image:url(images/style/hx.png);height:36px;width:864px;">
                <div style="float:left;margin-left:20px;margin-top:8px">
                    <span style="font-size:15px;font-weight:bold">2.标准内舱家庭房</span>&nbsp; &nbsp; &nbsp; &nbsp;
                    <span style="font-size:14px;color:#666666">最大入住人数4人</span>
                </div>

                <div style="float:right;margin-right:20px;margin-top:5px">
                    <img id="toggle_context2" src="images/style/input.png" style="cursor:pointer">
                </div>
                
            </div>

            <div style="background:#FFFFFF;"><!--2白色区域的整体 开始-->

     <!--开始--><div style="padding:10px 20px 10px 20px;border-bottom:2px dotted #B3B3B3"> <!--虚线上面content-->  

                    <div style="width:400px;margin-bottom:5px">
                        <div style="float:left;font-size:14px;font-weight:bold">选择出游人数：</div>
                    </div> 

                         <div style="clear:both"></div><!--清除浮动-->

                    <div style="width:824px">
                        <div style="width:500px;float:left">
                            <div style="float:left">
                                <span style="color:#666666;font-size:13px">成人</span>&nbsp; &nbsp; &nbsp; &nbsp;<img class="minus" src="images/style/minus.png" style="vertical-align:middle;cursor:pointer;width:15px;height:15px">&nbsp;&nbsp;<input class="input_box" type="text" value="3" style="padding:3px 12px 3px 12px;vertical-align:middle;width:15px;height:9px;border-radius:3px"/>&nbsp;&nbsp;<img class="plus" src="images/style/plus.png" style="vertical-align:middle;cursor:pointer;width:15px;height:15px">
                            </div>
                            <div style="float:right">
                                <span style="color:#666666;font-size:13px">儿童</span>&nbsp; &nbsp; &nbsp; &nbsp;<img class="minus" src="images/style/minus.png" style="vertical-align:middle;cursor:pointer;width:15px;height:15px">&nbsp;&nbsp;<input class="input_box" type="text" value="1" style="padding:3px 12px 3px 12px;vertical-align:middle;width:15px;height:9px;border-radius:3px"/>&nbsp;&nbsp;<img class="plus" src="images/style/plus.png" style="vertical-align:middle;cursor:pointer;width:15px;height:15px">
                            </div>
                        </div>
                        <div style="width:324px;float:right">
                             <div style="float:right">
                                <span style="font-size:14px;font-weight:bold">合计：</span><span style="font-size:16px;color:red;font-weight:bold">￥12234</span>
                            </div>    
                        </div>    
                    </div>
                               <div style="clear:both"></div><!--清除浮动-->
     <!--结束--></div>   <!--虚线上面content结束-->

     <!--开始--><div id="context2" style="padding:10px 20px 10px 20px;display:none">
                   <div style="font-size:14px;font-weight:bold">游客信息：</div>
                   <div style="width:824px">
                       <div style="float:left;padding-left:43px;padding-right:43px;font-size:14px">姓</div>
                       <div style="float:left;padding-left:75px;padding-right:75px;font-size:14px">名</div>
                       <div style="float:left;padding-left:36px;padding-right:36px;font-size:14px">姓(拼音)</div>
                       <div style="float:left;padding-left:57px;padding-right:57px;font-size:14px">名(拼音)</div>
                       <div style="float:left;padding-left:43px;padding-right:43px;font-size:14px">性别</div>
                       <div style="float:left;padding-left:50px;font-size:14px">出生日期</div>
                   </div><div style="clear:both"></div><!--清除浮动-->

                   <div style="margin-top:5px">
                       <input  style="width:90px;border-radius:3px" type="text" value=""/>&nbsp; &nbsp;
                       <input  style="width:145px;border-radius:3px" type="text" value=""/>&nbsp; &nbsp;
                       <input  style="width:90px;border-radius:3px" type="text" value=""/>&nbsp; &nbsp;
                       <input  style="width:145px;border-radius:3px" type="text" value=""/>&nbsp; &nbsp;
                       <input  style="width:90px;border-radius:3px" type="text" value=""/>&nbsp; &nbsp;
                       <input  style="width:145px;border-radius:3px" type="text" value=""/>
                   </div>
                   <div style="margin-top:5px">
                       <input  style="width:90px;border-radius:3px" type="text" value=""/>&nbsp; &nbsp;
                       <input  style="width:145px;border-radius:3px" type="text" value=""/>&nbsp; &nbsp;
                       <input  style="width:90px;border-radius:3px" type="text" value=""/>&nbsp; &nbsp;
                       <input  style="width:145px;border-radius:3px" type="text" value=""/>&nbsp; &nbsp;
                       <input  style="width:90px;border-radius:3px" type="text" value=""/>&nbsp; &nbsp;
                       <input  style="width:145px;border-radius:3px" type="text" value=""/>
                   </div>
                   <div style="margin-top:5px">
                       <input  style="width:90px;border-radius:3px" type="text" value=""/>&nbsp; &nbsp;
                       <input  style="width:145px;border-radius:3px" type="text" value=""/>&nbsp; &nbsp;
                       <input  style="width:90px;border-radius:3px" type="text" value=""/>&nbsp; &nbsp;
                       <input  style="width:145px;border-radius:3px" type="text" value=""/>&nbsp; &nbsp;
                       <input  style="width:90px;border-radius:3px" type="text" value=""/>&nbsp; &nbsp;
                       <input  style="width:145px;border-radius:3px" type="text" value=""/>
                   </div>
                   <div style="margin-top:5px">
                       <input  style="width:90px;border-radius:3px" type="text" value=""/>&nbsp; &nbsp;
                       <input  style="width:145px;border-radius:3px" type="text" value=""/>&nbsp; &nbsp;
                       <input  style="width:90px;border-radius:3px" type="text" value=""/>&nbsp; &nbsp;
                       <input  style="width:145px;border-radius:3px" type="text" value=""/>&nbsp; &nbsp;
                       <input  style="width:90px;border-radius:3px" type="text" value=""/>&nbsp; &nbsp;
                       <input  style="width:145px;border-radius:3px" type="text" value=""/>
                   </div>


     <!--结束--></div> 

        
            </div><!--2白色区域的整体 结束-->
            
        </div><!--2 结束-->



        <div style="width:864px;margin-top:10px">    <!--2-->

            <div style="background-image:url(images/style/hx.png);height:36px;width:864px;">
                <div style="float:left;margin-left:20px;margin-top:8px">
                    <span style="font-size:15px;font-weight:bold">其他费用</span>
                </div>       
            </div>

            <div style="background:#FFFFFF;"><!--2白色区域的整体 开始-->

     <!--开始--><div style="padding:10px 20px 5px 20px;border-bottom:2px dotted #B3B3B3"> <!--虚线上面content-->  

                    <div style="width:824px;margin-bottom:5px">
                        <div style="float:left;font-size:14px;font-weight:bold">保险</div>
                        <div style="float:right;">
                          <span style="font-size:14px;font-weight:bold">合计：</span><span style="font-size:16px;color:red;font-weight:bold">￥234</span>
                        </div>
                    </div> 

                         <div style="clear:both"></div><!--清除浮动-->
     <!--结束--></div>   <!--虚线上面content结束-->

     <!--开始--><div style="padding:10px 20px 10px 20px;">          
                   <div style="width:824px;">
                        <div style="width:500px;float:left;">
                            <div class="buttom_2" style="float:left;cursor:pointer;width:450px;">
                                <div style="font-size:14px;float:left;vertical:middle">意外保险：</div><div style="float:left;vertical:middle;margin-left:16px;margin-top:4px"><img class="image_2" src="images/style/tp24.png"></div>  
                            </div>
                        </div>
                        <div style="width:318px;float:right">
                             <div style="float:left">
                                <span style="font-size:14px;">单价：</span><span style="font-size:14px;color:#F6921E;font-weight:bold">￥50/人</span>
                             </div>
                             <div style="float:right">
                                <img class="minus" src="images/style/minus.png" style="vertical-align:middle;cursor:pointer;width:15px;height:15px">&nbsp;&nbsp;<input class="input_box" type="text" value="1" style="padding:3px 12px 3px 12px;vertical-align:middle;width:15px;height:9px;border-radius:3px"/>&nbsp;&nbsp;<img class="plus" src="images/style/plus.png" style="vertical-align:middle;cursor:pointer;width:15px;height:15px">
                            </div>    
                        </div>  
                        <div style="clear:both"></div><!--清除浮动-->
                        <div class="text_2" style="font-size:13px;color:#666666;padding-top:5px;display:none;width:500px">开始对谁都圣诞快乐 看看手机看雷达上看见 萨卡拉克 看来是骄傲是看得见 是大家爱看 阿克苏积分卡 阿斯科利伐紧 奥斯卡飞机开始 深刻陆地上 水库附近阿卡丽 克拉斯加罚款
                         </div>  
                    </div>
                               <div style="clear:both"></div><!--清除浮动-->
     <!--结束--></div> 


                    <!--开始--><div style="padding:10px 20px 5px 20px;border-bottom:2px dotted #B3B3B3"> <!--虚线上面content-->  

                    <div style="width:824px;margin-bottom:5px">
                        <div style="float:left;font-size:14px;font-weight:bold">岸上游选择</div>
                        <div style="float:right;">
                          <span style="font-size:14px;font-weight:bold">合计：</span><span style="font-size:16px;color:red;font-weight:bold">￥234</span>
                        </div>
                    </div> 

                         <div style="clear:both"></div><!--清除浮动-->
     <!--结束--></div>   <!--虚线上面content结束-->

    <!--开始--><div style="padding:10px 20px 10px 20px;">          
                   <div style="width:824px;">
                        <div style="width:500px;float:left;">
                            <div class="buttom_2" style="float:left;cursor:pointer;width:450px;">
                                <div style="font-size:14px;float:left;vertical:middle">岸上游路线A</div><div style="float:left;vertical:middle;margin-left:8px;margin-top:4px"><img class="image_2" src="images/style/tp24.png"></div>
                            </div>
                        </div>
                        <div style="width:318px;float:right">
                            <div style="float:left">
                                <span style="font-size:14px;">单价：</span><span style="font-size:14px;color:#F6921E;font-weight:bold">￥500/人</span>
                            </div>
                             <div style="float:right">
                                <img class="minus" src="images/style/minus.png" style="vertical-align:middle;cursor:pointer;width:15px;height:15px">&nbsp;&nbsp;<input class="input_box" type="text" value="1" style="padding:3px 12px 3px 12px;vertical-align:middle;width:15px;height:9px;border-radius:3px"/>&nbsp;&nbsp;<img class="plus" src="images/style/plus.png" style="vertical-align:middle;cursor:pointer;width:15px;height:15px">
                            </div>    
                        </div> 
                              <div style="clear:both"></div><!--清除浮动-->   
                         <div class="text_2" style="font-size:13px;color:#666666;padding-top:5px;display:none;width:500px">开始对谁都圣诞快乐 看看手机看雷达上看见 萨卡拉克 看来是骄傲是看得见 是大家爱看 阿克苏积分卡 阿斯科利伐紧 奥斯卡飞机开始 深刻陆地上 水库附近阿卡丽 克拉斯加罚款
                         </div>
                    </div>
                               <div style="clear:both"></div><!--清除浮动-->
     <!--结束--></div> 

     <!--开始--><div style="padding:10px 20px 10px 20px;">          
                   <div style="width:824px;">
                        <div style="width:500px;float:left;">
                            <div class="buttom_2" style="float:left;cursor:pointer;width:450px;">
                               <div style="font-size:14px;float:left;vertical:middle">岸上游路线B</div><div style="float:left;vertical:middle;margin-left:10px;margin-top:4px"><img class="image_2" src="images/style/tp24.png"></div>
                            </div>
                        </div>
                        <div style="width:318px;float:right">
                            <div style="float:left">
                                <span style="font-size:14px;">单价：</span><span style="font-size:14px;color:#F6921E;font-weight:bold">￥500/人</span>
                            </div>
                             <div style="float:right">
                                <img class="minus" src="images/style/minus.png" style="vertical-align:middle;cursor:pointer;width:15px;height:15px">&nbsp;&nbsp;<input class="input_box" type="text" value="1" style="padding:3px 12px 3px 12px;vertical-align:middle;width:15px;height:9px;border-radius:3px"/>&nbsp;&nbsp;<img class="plus" src="images/style/plus.png" style="vertical-align:middle;cursor:pointer;width:15px;height:15px">
                            </div>    
                        </div> 
                              <div style="clear:both"></div><!--清除浮动-->   
                         <div class="text_2" style="font-size:13px;color:#666666;padding-top:5px;display:none;width:500px">开始对谁都圣诞快乐 看看手机看雷达上看见 萨卡拉克 看来是骄傲是看得见 是大家爱看 阿克苏积分卡 阿斯科利伐紧 奥斯卡飞机开始 深刻陆地上 水库附近阿卡丽 克拉斯加罚款
                         </div>
                    </div>
                               <div style="clear:both"></div><!--清除浮动-->
     <!--结束--></div> 


     <!--开始--><div style="padding:10px 20px 10px 20px;">          
                   <div style="width:824px;">
                        <div style="width:500px;float:left;">
                            <div class="buttom_2" style="float:left;cursor:pointer;width:450px;">
                                <div style="font-size:14px;float:left;vertical:middle">岸上游路线C</div><div style="float:left;vertical:middle;margin-left:10px;margin-top:4px"><img class="image_2" src="images/style/tp24.png"></div>
                            </div>
                        </div>
                        <div style="width:318px;float:right">
                             <div style="float:left">
                                 <span style="font-size:14px;">单价：</span><span style="font-size:14px;color:#F6921E;font-weight:bold">￥500/人</span>
                             </div>
                             <div style="float:right">
                                <img class="minus" src="images/style/minus.png" style="vertical-align:middle;cursor:pointer;width:15px;height:15px">&nbsp;&nbsp;<input class="input_box" type="text" value="1" style="padding:3px 12px 3px 12px;vertical-align:middle;width:15px;height:9px;border-radius:3px"/>&nbsp;&nbsp;<img class="plus" src="images/style/plus.png" style="vertical-align:middle;cursor:pointer;width:15px;height:15px">
                            </div>    
                        </div>  
                                       <div style="clear:both"></div><!--清除浮动-->
                        <div class="text_2" style="font-size:13px;color:#666666;padding-top:5px;display:none;width:500px">开始对谁都圣诞快乐 看看手机看雷达上看见 萨卡拉克 看来是骄傲是看得见 是大家爱看 阿克苏积分卡 阿斯科利伐紧 奥斯卡飞机开始 深刻陆地上 水库附近阿卡丽 克拉斯加罚款
                        </div>  
                    </div>
                               <div style="clear:both"></div><!--清除浮动-->
     <!--结束--></div> 

        
            </div><!--2白色区域的整体 结束-->
            
        </div><!--2 结束-->

        <div style="width:864px;margin-top:10px;background:#FFFFFF"><!--3 开始-->
            <div style="padding:10px 20px 10px 20px;text-align:right">
               <span style="font-size:15px;font-weight:bold">订单总金额：</span><span style="font-size:15px;color:red;font-weight:bold">￥55555</span>
            </div>
        </div><!--3 结束-->

        <div style="width:864px;margin-top:10px;background:#FFFFFF"><!--4 开始-->
            <div style="padding:10px 20px 10px 20px;font-size:14px;color:#666666;font-weight:bold;">
               <div><span style="">联系人姓名</span>&nbsp;&nbsp;<input type="text" value="" style="border:1px solid #CCCCCC;width:735px;border-radius:5px;height:20px" /></div>
               <div style="margin-top:10px"><span style="">联系人电话</span>&nbsp;&nbsp;<input type="text" value="" style="border:1px solid #CCCCCC;width:735px;border-radius:5px;height:20px" /></div>
               <div style="margin-top:10px">
                 <div style="float:left;padding-right:5px">预定备注</div>&nbsp; &nbsp;  <textarea type="text" style="border:1px solid #CCCCCC;width:735px;height:120px;border-radius:5px;resize:none;"></textarea></div>
            </div>
        </div><!--4 结束-->

         <div style="width:780px;margin:0 auto;margin-top:10px;margin-bottom:20px">
                  <a href="#info" style="float:right"><div id="trueConfirm" style="background-image:url('images/style/button.png');background-repeat:no-repeat;width:70px;height:25px;text-align:center;font-weight:bold;color:#FFFFFF;font-size:14px;padding-top:3px;cursor:pointer">确认预定</div></a>
                   <a href="#info" style="float:right"><div id="falseConfirm" style="background-image:url('images/style/button.png');background-repeat:no-repeat;width:70px;height:25px;text-align:center;font-weight:bold;color:#FFFFFF;font-size:14px;padding-top:3px;cursor:pointer;margin-right:10px">上一步</div></a>
          </div>
            <div style="clear:both"></div><!--清除浮动-->

</div><!--填写游客信息 整体结束-->