<div style="width:864px;background:#FFFFFF;border-bottom:2px dotted #B3B3B3"><!--标题-->

        <div style="width:100px;text-align:center;float:left;margin-top:20px;margin-left:-10px">
            <img src="images/style/group.png" style="">
        </div>

            <div style="width:754px;float:right;margin-top:20px;margin-right:10px;margin-bottom:10px">

                <div  style="width:454px;float:left;margin-left:-10px">
                    <p class="fontSize16 fontWeight">12月19日海洋绿洲号11天12晚澳洲新西兰游</p>
                    <p style="color:#F37041;font-size:14px;">【上海出发】出发日期:201512-19</p>
                </div>

                <div style="width:300px;float:right">
                    <img src="images/style/download.png" style="float:left;cursor:pointer;vertical-align:middle;margin-top:3px;margin-left:50px">
                    <span style="font-size:16px;color:#8CC63F;vertical-align:middle;font-weight:bold;padding-left:5px;cursor:pointer;">下载行程</span>

                    <div class="wxdtb1" style="float:right;cursor:pointer;padding-bottom:15px">
                        <div  style="float:none" >
                         <img  src="images/style/scan.png" style="vertical- align:bottom;margin-top:2px">
                         <span style="font-size:16px;color:#3EAACE;vertical-align:top;font-weight:bold;padding-left:5px;">微信扫描分享</span>
                       </div>
                    </div> <!--微信图标-->

                </div>

                <div style="width:520px;float:left;font-size:14px;margin-left:-10px">深州-香港-加深对-房改房-发鬼地方-阿达的福-发股份大股东-皇家-第三方-DSV-SDSFDS-是倒萨-非官方的骨灰-度假胜地</div>

                <div class="wxxtb01" style="display:none;position:absolute;margin-left:520px;margin-top:-5px;cursor:pointer">  <!--微信大图标-->
                    <img class="wxxtb01" src="images/style/sca_product.png" style="position:absolute;margin-top:30px;margin-left:30px">
                    <img class="wxxtb01" src="images/tp14.png" style="position:absolute;margin-top:45px;margin-left:45px;width:170px;height:170px">
                    <p style="position:absolute;font-size:14px;margin-top:210px;margin-left:45px;font-weight:bold;line-height:20px;width:180px;height:30px">扫一扫,通过手机浏览邮轮产品,分享给好友
                </p>

               </div>
            
            </div>
                <div style="clear:both"></div>
      
    </div><!--end标题-->

    <div>   <!--选择舱房及数量-->
        <h3 style="color:#003660;margin-top:10px;margin-bottom:10px;font-size:16px">第一步：选择舱房及数量</h3>

         <div style="background:#FFFFFF;width:864px">

             <div style="float:left;width:216px;cursor:pointer">    <!--left浮动-->
                 <div style="float:left;text-align:center;width:215px;padding-top:10px">
                     <p style="font-size:16px;">内舱房</p>
                     <p style="font-size:16px;font-weight:bold;color:#F6921E"><span style="color:#F6921E">￥3540</span><span style="font-size:12px;color:#F6921E">起</span></p>
                 </div>
                 <div style="float:right;width:1px">
                     <img src="images/style/line.png" style="widht:1px;height:65px">
                 </div>
                 <div>
                     <img src="images/style/orangeline.png" style="width:218px">
                 </div>
             </div>

             <div style="float:left;width:216px;cursor:pointer">    <!--left浮动-->
                 <div style="float:left;text-align:center;width:215px;padding-top:10px">
                     <p style="font-size:16px">海景房</p>
                     <p style="font-size:16px;font-weight:bold"><span>￥3540</span><span style="font-size:12px">起</span></p>
                 </div>
                 <div style="float:right;width:1px">
                     <img src="images/style/line.png" style="widht:1px;height:65px">
                 </div>
                 
             </div>

             <div style="float:left;width:216px;cursor:pointer">    <!--left浮动-->
                 <div style="float:left;text-align:center;width:215px;padding-top:10px">
                     <p style="font-size:16px">阳台房</p>
                     <p style="font-size:16px;font-weight:bold"><span>￥3540</span><span style="font-size:12px">起</span></p>
                 </div>
                 <div style="float:right;width:1px">
                     <img src="images/style/line.png" style="widht:1px;height:65px">
                 </div>
                  
             </div>

             <div style="float:left;width:216px;cursor:pointer">    <!--left浮动-->
                 <div style="float:left;text-align:center;width:215px;padding-top:10px">
                     <p style="font-size:16px;">套房</p>
                     <p style="font-size:16px;font-weight:bold;"><span>￥35420</span><span style="font-size:12px">起</span></p>
                 </div>
                 <div style="float:right;width:1px;height:65px"></div>
                 
             </div>
                
                <div style="clear:both"></div>
         </div>
    </div>

    
    <div style="margin-top:10px;background:#FFFFFF;padding:20px">

        <div style="float:left;width:260px">  <!--left浮动-->
            <img style="width: 270px;height:154px" src="images/advertising/50QRBR1EOKGS$OKT`DPODXT.jpg" />
            <div style="font-weight:bold;font-size:14px;padding-top:5px;padding-bottom:5px">内舱房</div>
            <div>
                <div style="width:80px;float:left;font-size:12px;font-weight:bold;">面积</div>
                <div style="width:180px;float:right;font-size:13px;color:#666666">15平方米</div>
            </div>
            <div>
                <div style="width:80px;float:left;font-size:12px;font-weight:bold">可住人数</div>
                <div style="width:180px;float:right;font-size:13px;color:#666666">2-4人</div>
            </div>
            <div>
                <div style="width:80px;float:left;font-size:12px;font-weight:bold">甲板层</div>
                <div style="width:180px;float:right;font-size:13px;color:#666666">6F-10F</div>
            </div>
            <div>
                <div style="width:80px;float:left;font-size:12px;font-weight:bold">舱房设置</div>
                <div style="width:180px;float:right;font-size:13px;color:#666666">两张双人床可是绝对是 近段时间的 是滴是滴</div>
            </div>
        </div>        <!--left浮动结束-->

        <div style="float:right;width:534px">  <!--right浮动-->
            <div style="width:284px;float:left">
                <span style="font-weight:bold;font-size:14px">标准内舱双人房</span>&nbsp; &nbsp;
                <span style="font-size:14px;color:#666666">（最大入住2人）</span>
            </div>
            <div style="width:170px;float:right">
                <img class="minus" src="images/style/minus.png" style="vertical-align:middle;cursor:pointer;width:15px;height:15px">&nbsp;&nbsp;<input class="input_box" type="text" value="1" style="padding:3px 12px 3px 12px;vertical-align:middle;width:15px;height:9px;border-radius:3px"/>&nbsp;&nbsp;<img class="plus" src="images/style/plus.png" style="vertical-align:middle;cursor:pointer;width:15px;height:15px">
            </div>
            <div style="clear:both"></div>   <!--清除浮动用-->
            <div style="width:200px;float:left;margin-top:8px;margin-bottom:10px">
                <div style="float:left;font-size:15px">
                    <div style="color:#666666;font-size:13px">第1/2人</div>
                </div>
                <div style="float:right;font-size:13px">
                    <div style="color:#FF9121;font-weight:bold">￥3200/人</div>
                </div>
            </div>
            <div style="clear:both;width:534px;border-bottom:1px dotted #666666;margin-bottom:10px;"></div>   <!--清除浮动用-->



            <div style="width:284px;float:left">
                <span style="font-weight:bold;font-size:14px">标准内仓家庭房</span>&nbsp; &nbsp;
                <span style="font-size:14px;color:#666666">（最大入住4人）</span>
            </div>
            <div style="width:170px;float:right">
                <img class="minus" src="images/style/minus.png" style="vertical-align:middle;cursor:pointer;width:15px;height:15px">&nbsp;&nbsp;<input class="input_box" type="text" value="1" style="padding:3px 12px 3px 12px;vertical-align:middle;width:15px;height:9px;border-radius:3px"/>&nbsp;&nbsp;<img class="plus" src="images/style/plus.png" style="vertical-align:middle;cursor:pointer;width:15px;height:15px">
            </div>
            <div style="clear:both"></div>   <!--清除浮动用-->
            <div style="width:200px;float:left;margin-top:8px;margin-bottom:10px">
                <div style="float:left;font-size:13px">
                    <div style="color:#666666;">第1/2人</div>
                    <div style="color:#666666;">第3/4人成人</div>
                    <div style="color:#666666;">第3/4人儿童</div>
                </div>
                <div style="float:right;font-size:13px">
                    <div style="color:#FF9121;font-weight:bold">￥3200/人</div>
                    <div style="color:#FF9121;font-weight:bold">￥2200/人</div>
                    <div style="color:#FF9121;font-weight:bold">￥2200/人</div>
                </div>
            </div>
            <div style="clear:both;width:534px;border-bottom:1px dotted #666666;margin-bottom:10px;"></div>   <!--清除浮动用-->
          



            <div style="width:284px;float:left">
                <span style="font-weight:bold;font-size:14px">高级内仓双人房</span>&nbsp; &nbsp;
                <span style="font-size:14px;color:#666666">（最大入住4人）</span>
            </div>
            <div style="width:170px;float:right">
                <img class="minus" src="images/style/minus.png" style="vertical-align:middle;cursor:pointer;width:15px;height:15px">&nbsp;&nbsp;<input class="input_box" type="text" value="1" style="padding:3px 12px 3px 12px;vertical-align:middle;width:15px;height:9px;border-radius:3px"/>&nbsp;&nbsp;<img class="plus" src="images/style/plus.png" style="vertical-align:middle;cursor:pointer;width:15px;height:15px">
            </div>
            <div style="clear:both"></div>   <!--清除浮动用-->
            <div style="width:200px;float:left;margin-top:8px;margin-bottom:10px">
                <div style="float:left;font-size:13px">
                    <div style="color:#666666;">第1/2人</div>
                </div>
                <div style="float:right;font-size:13px">
                    <div style="color:#FF9121;font-weight:bold">￥3200/人</div>
                </div>
            </div>
            <div style="clear:both;width:534px;border-bottom:1px dotted #666666;margin-bottom:10px;"></div>   <!--清除浮动用-->
            
             

             <div style="width:284px;float:left">
                <span style="font-weight:bold;font-size:14px">高级内仓家庭房</span>&nbsp; &nbsp;
                <span style="font-size:14px;color:#666666">（最大入住4人）</span>
            </div>
            <div style="width:170px;float:right">
                <img class="minus" src="images/style/minus.png" style="vertical-align:middle;cursor:pointer;width:15px;height:15px">&nbsp;&nbsp;<input class="input_box" type="text" value="1" style="padding:3px 12px 3px 12px;vertical-align:middle;width:15px;height:9px;border-radius:3px"/>&nbsp;&nbsp;<img class="plus" src="images/style/plus.png" style="vertical-align:middle;cursor:pointer;width:15px;height:15px">
            </div>
            <div style="clear:both"></div>   <!--清除浮动用-->
            <div style="width:200px;float:left;margin-top:8px;margin-bottom:10px">
                <div style="float:left;font-size:13px">
                    <div style="color:#666666">第1/2人</div>
                    <div style="color:#666666">第3/4人成人</div>
                    <div style="color:#666666">第3/4人儿童</div>
                </div>
                <div style="float:right;font-size:13px">
                    <div style="color:#FF9121;font-weight:bold">￥3200/人</div>
                    <div style="color:#FF9121;font-weight:bold">￥2200/人</div>
                    <div style="color:#FF9121;font-weight:bold">￥2200/人</div>
                </div>
            </div>
            <div style="clear:both"></div>   <!--清除浮动用-->
            


        </div>        <!--right浮动结束-->

        <div style="clear:both"></div>   <!--清除浮动用-->
          <br/>
        <div>
            <div style="font-size:14px;font-weight:bold;">说明</div>
            <div style="font-size:13px;color:#6F6D68">各邮轮公司和旅行社对儿童的年龄界定以及收费政策上存在差异，请在订单确认前详细了解,谢谢！</div>
        </div>
              
    </div>

          <div  style="width:780px;margin:0 auto;margin-top:10px;margin-bottom:20px">
                  <a href="#info" style="float:right"><div id="next" style="background-image:url('images/style/button.png');background-repeat:no-repeat;width:70px;height:25px;text-align:center;font-weight:bold;color:#FFFFFF;font-size:14px;padding-top:3px;cursor:pointer">下一步</div></a>
          </div>

          <div style="clear:both"></div>   <!--清除浮动用-->