<div style="width:864px;background:#FFFFFF;border-bottom:2px dotted #B3B3B3;"><!--标题-->

        <div style="width:100px;text-align:center;float:left;margin-top:20px;margin-left:-10px">
            <img src="images/style/group.png" style="">
        </div>

            <div style="width:754px;float:right;margin-top:20px;margin-right:10px;margin-bottom:10px">

                <div  style="width:454px;float:left;margin-left:-10px">
                    <p class="fontSize16 fontWeight">12月19日海洋绿洲号11天12晚澳洲新西兰游</p>
                    <p style="color:#F37041;font-size:14px;">【上海出发】出发日期:201512-19</p>
                </div>

                <div style="width:300px;float:right">
                    <img src="images/style/download.png" style="float:left;cursor:pointer;vertical-align:middle;margin-top:3px;margin-left:50px">
                    <span style="font-size:16px;color:#8CC63F;vertical-align:middle;font-weight:bold;padding-left:5px;cursor:pointer;">下载行程</span>

                    <div class="wxdtb1" style="float:right;cursor:pointer;padding-bottom:15px">
                        <div  style="float:none" >
                         <img  src="images/style/scan.png" style="vertical- align:bottom;margin-top:2px">
                         <span style="font-size:16px;color:#3EAACE;vertical-align:top;font-weight:bold;padding-left:5px;">微信扫描分享</span>
                       </div>

                       <div class="wxxtb01"  style="display:none;position:absolute;margin-left:520px;margin-top:-10px;cursor:pointer;">  <!--微信大图标-->
                    <img class="wxxtb01" src="images/style/sca_product.png" style="position:absolute;margin-top:30px;margin-left:30px">
                    <img class="wxxtb01" src="images/tp14.png" style="position:absolute;margin-top:45px;margin-left:45px;width:170px;height:170px">
                    <p style="position:absolute;font-size:14px;margin-top:210px;margin-left:45px;font-weight:bold;line-height:20px;width:180px;height:30px">扫一扫,通过手机浏览邮轮产品,分享给好友
                </p>

               </div>
                    </div> <!--微信图标-->

                </div>

                <div style="width:520px;float:left;font-size:14px;margin-left:-10px">深州-香港-加深对-房改房-发鬼地方-阿达的福-发股份大股东-皇家-第三方-DSV-SDSFDS-是倒萨-非官方的骨灰-度假胜地</div>

                
            
            </div>
                <div style="clear:both"></div>
      
</div><!--end标题-->

<div style="margin-top:10px;width:864px;background:#FFFFFF">
    <div style="padding:10px 20px 10px 20px;font-size:15px;color:#F6921E;font-weight:bold">
        <div><img src="images/style/true.png" style="vertical-align:middle;width:33px;height:30px">&nbsp;<span style="vertical-align:middle;">恭喜您,预定成功！</span></div>
        <div style="margin-left:38px">我们将尽快与您联系！</div>
    </div>
</div>

<div id="content11" style="margin-top:10px;width:864px;">
    <div id="content1" style="width:387px;float:left;padding:10px 20px 10px 20px;background:#FFFFFF"><!--左浮动 整体开始-->
       <div style="border-bottom:2px dotted #B3B3B3;padding-bottom:10px"><!--虚线专用-->

        <div style="font-size:14px;font-weight:bold">费用明细</div>

        <div style="font-size:14px;margin-top:10px">
            <div style="float:left">
                <span>1.标准内舱双人房</span>
            </div>
            <div style="float:right;width:150px">
                <div style="float:left">成人1人</div>
                <div style="float:right">儿童1人</div>
            </div>
        </div>
         <div style="clear:both"></div><!--清除浮动-->

         <div style="width:170px;font-size:13px;margin-top:5px">
            <div style="float:left">
                <span style='color:#666666'>第1/2人</span>
            </div>
            <div style="float:right">
                <span style='color:#F6921E'>￥3200/人</span>
            </div>
         </div>
         <div style="clear:both"></div><!--清除浮动-->


         <div style="font-size:14px;margin-top:10px">
            <div style="float:left">
                <span>2.标准内舱家庭房</span>
            </div>
            <div style="float:right;width:150px">
                <div style="float:left">成人4人</div>
                <div style="float:right">儿童0人</div>
            </div>
        </div>
         <div style="clear:both"></div><!--清除浮动-->

         <div style="width:170px;font-size:13px;margin-top:5px">
            <div style="float:left">
                <span style='color:#666666'>第1/2人</span>
            </div>
            <div style="float:right">
                <span style='color:#F6921E'>￥3200/人</span>
            </div>
         </div>
         <div style="clear:both"></div><!--清除浮动-->

         <div style="width:170px;font-size:13px;">
            <div style="float:left">
                <span style='color:#666666'>第3/4人成人</span>
            </div>
            <div style="float:right">
                <span style='color:#F6921E'>￥2200/人</span>
            </div>
         </div>
         <div style="clear:both"></div><!--清除浮动-->

         <div style="width:170px;font-size:13px;">
            <div style="float:left">
                <span style='color:#666666'>第3/4人儿童</span>
            </div>
            <div style="float:right">
                <span style='color:#F6921E'>￥2200/人</span>
            </div>
         </div>
         <div style="clear:both"></div><!--清除浮动-->

       </div><!--虚线专用-->
       

       <div style="font-size:15px;font-weight:bold;color:#F6921E;text-align:right;padding-top:10px;"><span>小计</span><span>￥12500</span></div>
       <div style="font-size:14px;font-weight:bold;padding-top:5px;">其他费用</div>
       <div style="margin-top:10px;font-size:14px;padding-bottom:5px;border-bottom:2px dotted #B3B3B3;">
           <div style="float:left;">
               <span>旅游意外险</span>
           </div>
           <div style="float:right">
               <span>￥50X6</span>
           </div><div style="clear:both"></div><!--清除浮动-->
       </div>
       

       <div style="font-size:15px;font-weight:bold;color:#F6921E;text-align:right;padding-top:5px;padding-bottom:20px;border-bottom:2px dotted #B3B3B3;"><span>小计</span><span>￥300</span></div>

       <div style="padding:5px 0 5px 0;font-size:14px;border-bottom:2px dotted #B3B3B3;font-weight:bold">
           <div style="float:left;">
               <span>人均金额</span>
           </div>
           <div style="float:right">
               <span style="color:#F6921E">￥50X6</span>
           </div><div style="clear:both"></div><!--清除浮动-->
       </div>

       <div style="font-size:16px;padding-top:10px;font-weight:bold">
           <span>订单总额：</span><span style="color:#F6921E">￥34000</span>
       </div>
       
       <div style="width:150px;font-size:14px;padding-bottom:10px">
           <div style="float:left">
               <span style="font-weight:bold">舱房：</span><span>2间</span>
           </div>
           <div style="float:right">
               <span style="font-weight:bold">人数：</span><span>6人</span>
           </div>
           <div style="clear:both"></div><!--清除浮动-->
       </div>

    </div><!--左浮动 整体结束-->


     <div id="content2" style="width:387px;float:right;padding:10px 20px 10px 20px;background:#FFFFFF"><!--右浮动 整体开始-->
         <p style="font-size:14px"><span style="font-weight:bold">订单号：&nbsp; &nbsp;</span><span>12345678901</span></p>
         <p style="font-size:14px;padding-top:7px"><span style="font-weight:bold">产品编号：</span><span>65-15-OS1219-1023</span></p>
         <p style="font-size:14px;padding-top:7px"><span style="font-weight:bold">邮轮公司：</span><span>皇家加勒比邮轮</span></p>
         <p style="font-size:14px;padding-top:7px"><span style="font-weight:bold">邮轮名称：</span><span>海洋绿洲号</span></p>
         <p style="font-size:14px;padding-top:7px"><span style="font-weight:bold">出发日期：</span><span>2015-12-19</span></p>
         <p style="padding-top:7px">
            <div style="float:left;font-size:14px">
                <span style="font-weight:bold">预定舱房：</span>
            </div>
            <div style="float:left;width:150px;font-size:14px">
                <div style="float:left">标准内舱双人房</div>
                <div style="float:right">1间</div>
                          <div style="clear:both"></div><!--清除浮动-->
                 <div style="float:left">高级内舱双人房</div>
                <div style="float:right">1间</div>
                          <div style="clear:both"></div><!--清除浮动-->
            </div>
        </p><div style="clear:both"></div><!--清除浮动-->

         <p style="padding-top:7px">
            <div style="float:left;font-size:14px">
                <span style="font-weight:bold">预定人数：</span>
            </div>
            <div style="float:left;width:120px;font-size:14px">
                <div style="float:left">成人5人</div>
                <div style="float:right">儿童1人</div>
                <div style="clear:both"></div><!--清除浮动-->
            </div>
         </p> <div style="clear:both"></div><!--清除浮动-->

        <p style="padding-top:7px">
          <div style="float:left;font-size:14px;">
              <span style="font-weight:bold">游客姓名：</span>
          </div>
          <div style="float:left;font-size:14px;width:315px">
              <span>陈1</span>；<span>陈2</span>；<span>陈3</span><span>/</span><span>陈1</span>；<span>陈2</span>；<span>陈3</span><span>/</span><span>陈1</span>；<span>陈2</span>；<span>陈3</span><span>/</span><span>陈1</span>；<span>陈2</span>；<span>陈3</span><span>/</span><span>陈1</span>；<span>陈2</span>；<span>陈3</span>
          </div>
          <div style="clear:both"></div><!--清除浮动-->
        </p>
        <p style="font-size:14px;border-bottom:2px dotted #B3B3B3;padding-bottom:10px;padding-top:7px"><span style="font-weight:bold">订单金额：</span><span style="color:#F6921E;font-weight:bold">￥34223</span></p>
        <p style="font-size:14px;padding-top:10px"><span style="font-weight:bold">联系人：&nbsp; &nbsp;</span><span>许三多</span></p>
        <p style="font-size:14px;padding-top:7px"><span style="font-weight:bold">联系电话：</span><span>13131369855</span></p>
        <p style="font-size:14px;padding-top:7px">
          <div style="font-size:14px;float:left">
              <span style="font-weight:bold"> 备注：&nbsp; &nbsp; &nbsp; &nbsp;</span>
          </div>
          <div style="font-size:14px;width:315px;float:left">
               <span>联系我！联系我！联系我！联系我！联系我！联系我！联系我！联系我！联系我！联系我！联系我！联系我！联系我！联系我！联系我！联系我！联系我！联系我！联系我！联系我！联系我！联系我！联系我！联系我！联系我！</span>
          </div>
        </p>
     </div><!--右浮动 整体结束-->
     <div style="clear:both"></div><!--清除浮动-->

     <div style="width:780px;margin:0 auto;margin-top:10px;margin-bottom:20px">
                  <a href="#info" style="float:right"><div id="textReturn" style="background-image:url('images/style/button.png');background-repeat:no-repeat;width:70px;height:25px;text-align:center;font-weight:bold;color:#FFFFFF;font-size:14px;padding-top:3px;cursor:pointer">返回</div></a>          
     </div>
       <div style="clear:both"></div><!--清除浮动-->

</div>