<div id="myfoot" style="background-color:#DFDFDF;padding-top:20px;border-top:3px solid #63B7D2">
<!--<table style="margin:0 auto;" border="0">
<tr>
  <td style="text-align:center" >
    <img id="myfoot_1" src="images/footer_1.png" width="940"/>
  </td>
</tr>
</table>-->
<table style="margin:0 auto;line-height:150%;" width="600" border="0">
  <tr>
    <td class="tdhead">邮轮度假目的地</td>
    <td class="tdhead">邮轮公司荟萃</td>
    <td class="tdhead">邮轮度假主题</td>
    <td class="tdhead">邮轮生活分享</td>
  <!--  <td class="tdhead">&nbsp;&nbsp;帮助</td>
    <td class="tdhead">合作伙伴</td>-->
  </tr>
  <tr>
    <td class="tdbody">
	<ul class="ul1"><li onclick="window.location='loading?page=destination/hq1'">地中海</li>
	<li onclick="window.location='loading?page=destination/hq2'">欧洲</li>
	<li onclick="window.location='loading?page=destination/hq3'">加勒比海</li>
	<li onclick="window.location='loading?page=destination/hq4'">阿拉斯加</li>
	<!--<li onclick="window.location='loading?page=destination/hq5'">澳洲新西兰</li>
	<li onclick="window.location='loading?page=destination/hq6'">日韩</li>
	<li onclick="window.location='loading?page=destination/hq7'">东南亚</li>
	<li onclick="window.location='loading?page=destination/hq8'">台湾</li>
    <li onclick="window.location='loading?page=destination/hq9'">夏威夷</li>-->
	<li onclick="window.location='loading?page=destination'">所有目的地</li><ul>
	</td>
    <td class="tdbody">
	<ul class="ul1"><li onclick="window.location='loading?page=curisecompany/V01'">皇家加勒比邮轮</li>
	<li onclick="window.location='loading?page=curisecompany/V02'">歌诗达邮轮</li>
    <li onclick="window.location='loading?page=curisecompany/V03'">丽星邮轮</li>
	<li onclick="window.location='loading?page=curisecompany/V04'">公主邮轮</li>
    <!--<li onclick="window.location='loading?page=curisecompany/V05'">挪威邮轮</li>
	<li onclick="window.location='loading?page=curisecompany/V06'">地中海邮轮</li>
    <li onclick="window.location='loading?page=curisecompany/V07'">水晶邮轮</li>-->
	<li onclick="window.location='loading?page=curisecompany'">所有邮轮公司</li><ul>
	</td>
    <td class="tdbody">
	<ul class="ul1"><li onclick="window.location='loading?page=theme_sec?id=T0001'">家庭邮轮</li>
	<li onclick="window.location='loading?page=theme_sec?id=T0002'">老年邮轮</li>
	<li onclick="window.location='loading?page=theme_sec?id=T0003'">奢华邮轮</li>
	<li onclick="window.location='loading?page=theme_sec?id=T0004'">会议邮轮</li>
	<!--<li onclick="window.location='loading?page=theme_sec?id=T0005'">探险邮轮</li>
	<li onclick="window.location='loading?page=theme_sec?id=T0006'">环球邮轮</li>-->
	<li onclick="window.location='loading?page=theme'">所有主题</li><ul>
	</td>
    <td class="tdbody">
	<ul class="ul1"><li onclick="window.location='loading?page=sharetheme_sec?id=S0001'">邮轮入门</li>
	<li onclick="window.location='loading?page=sharetheme_sec?id=S0002'">邮轮资讯</li>
	<li onclick="window.location='loading?page=sharetheme_sec?id=S0003'">邮轮游记</li>
	<li onclick="window.location='loading?page=sharetheme_sec?id=S0004'">邮轮视频</li>
	</td>
 <!--  <td class="tdbody">
	<ul class="ul1"><li onclick="window.location ='loading?page=help?p=a1'">关于我们</li>
	<li onclick="window.location ='loading?page=help?p=a2'">如何预订</li>
	<li onclick="window.location ='loading?page=help?p=a3'">常见问题</li>
        <li onclick="window.location ='loading?page=help?p=a4'">联系我们</li>
        <ul>
	</td>--> 
    <td class="tdbody">

	</td>
  </tr>
</table>
<br/>
<table style="margin:0 auto;" border="0">
<tr><td style="text-align:center" ><img id="myfoot_2" src="images/footer_3.png" width="840"/></td></tr>
</table>
<table style="margin:0 auto;line-height:150%;" width="600" border="0">
	
  <tr>
  	<td style="text-align:center;line-height: 15px;" class="tdbody" colspan="0">荟邮轮技术支持<br/>Copyright © 2014 www.youlunshidai.com - All Rights Reserved.<br/>上海荟邮网络科技有限公司版权所有。<br/><p style="margin-top: 5px;">沪ICP备14019890号-1</p><br/><br/>
  	</td>
  </tr>
</table>
</div>
<div id="menu"></div>

<div id="wxxftb" style="position:fixed; bottom:50px; left:1px;z-index:3;width:140px;height:180px;background:black;opacity:0.5"></div>

      <img id="wx_code" src="images/secondCode/index.jpg" style="position:fixed;bottom:97px; left:10px;z-index:4;width:120px;height:120px;">
    <div style="color:#FFFFFF;font-size:13px;position:fixed;bottom:57px; left:11px;z-index:5;font-weight:bold"><span>微信扫一扫，</span><br/><span>手机预览当前网页！</span></div>
	<!-- <p><a  href=" " target="_self"><img id="wxxftb1" src="images/style/web2wm.png" /></a></p> -->


<div class="totop" style="position:fixed; bottom:50px; right:100px;z-index:3;display:none"><a  href="#top" target="_self"><img class="totop1" src="images/to top_1.png" /></a></div>

<div id="wxtp" style="position:fixed; bottom:90px; right:53px;z-index:3;"><img id="wxtp1" src="images/style/ask.png" style="cursor:pointer"/><span style="font-size:12px">我要咨询</span></div>

<div id="struts" style="width:100%;position:fixed;top:140px;z-index:88888888;display:none">       <!--我要咨询 弹出框-->
    <div style="width:500px;margin:0 auto; border:1px solid #CCCCCC;background:#FFFFFF"> 

	   <div style="width:500px;height:40px;background:#F0F0F0;border-bottom:1px solid #CCCCCC"></div>

       <div style="width:500px;padding:20px">
       	  <form id="myForm" method="post" style="margin-top: 10px;margin-left: 20px">
             <div style="font-size:14px;font-weight:bold;color:#666666;margin-bottom:10px">
             	<span>姓&nbsp;名&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span><input name="input1" style="border:1px solid #CCCCCC;width:390px;border-radius:5px;height:20px" type="text" value="" />
             </div>

             <div style="font-size:14px;font-weight:bold;color:#666666;margin-bottom:10px">
             	<span>联系电话&nbsp; &nbsp;</span><input name="input2" style="border:1px solid #CCCCCC;width:390px;border-radius:5px;height:20px" type="text" value="" />
             </div>

             <div style="font-size:14px;font-weight:bold;color:#666666;margin-bottom:10px">
          	   <span>电子邮箱&nbsp; &nbsp;</span><input name="input3" style="border:1px solid #CCCCCC;width:390px;border-radius:5px;height:20px" type="text" value="" />
             </div>

             <div style="font-size:14px;font-weight:bold;color:#666666;margin-bottom:10px;width:500px">
          	   <span style="float:left">咨询产品&nbsp; &nbsp;</span><textarea name="input4" style="border:1px solid #CCCCCC;width:390px;border-radius:5px;height:200px;overflow:scroll;resize:none" type="text"></textarea>
             </div>
          </form>
       </div>

	   <div style="width:500px;height:40px;background:#F0F0F0;border-top:1px solid #CCCCCC;">
	   	    <div style="text-align:right;padding:5px 20px 5px 5px">
	   	    	<button id="strut_button1" onclick="submitYD()" style="padding-left:15px;padding-right:15px;padding-top:5px;padding-bottom:5px">提交</button> <button id="strut_button2" style="padding-left:15px;padding-right:15px;padding-top:5px;padding-bottom:5px">关闭</button>
	   	    </div>
	   </div>
    </div>
</div>     <!--我要咨询 弹出框  结束-->

<div id="black" style="position:fixed; top:0;left:0;height:800px;width:100%;background:black;z-index:77777777;opacity:0.7;display:none"></div>
</body>
</html>