<div id="zibody" style="background-color:#DFDFDF;">
<div style="margin:0 auto;width:864px;">
<br/><br/>
<span class="zi_menu"><span id="tohome" style="cursor:pointer;">首页</span>&nbsp;&nbsp;/&nbsp;&nbsp;隐私声明</span>
</div>
    <br/>
    <div style="width: 864px;font-size: 16px;margin:0 auto;text-align: center;line-height: 35px;font-family:微软雅黑;color: #727272">
        PRIVACY POLICIES<br/>
        <hr style="width: 60px;margin-left: 400px;BORDER-BOTTOM-STYLE: dotted; BORDER-LEFT-STYLE: dotted; BORDER-RIGHT-STYLE: dotted; BORDER-TOP-STYLE: dotted "/>
        <div style="font-size: 50px;margin-top:15px;color: #175591">隐私声明</div><br/>
        <img id="myfoot_1" src="images/footer_2.png" style="margin-left: -40px;" width="940"/>
    </div>
     <div style="width: 864px;font-size: 12px;margin:0 auto;font-family:微软雅黑;line-height: 18px;color: #727272;">
         <div style="margin-left: 30px;margin-right: 30px;"> <br/>
             本网站由上海荟邮网络科技有限公司（“荟邮”）所有和运营。荟邮保护您的隐私。荟邮隐私政策（“隐私政策”）适用于www.youlunshidai.com网站及其数据收集、使用和服务。本隐私政策描述我们如何收集、保护、使用和共享我们网站收集的与您有关的信息。本隐私政策适用于荟邮，但不适用于我们的任何关联/相关企业、供应商或服务提供商。如果您使用本网站，则明确表示您同意使用之时有效的隐私政策的条款和条件。 我们希望本披露信息将有助于增强您对我们网站的信心，并提高您的互联网体验。请阅读我们的隐私政策以了解以下内容：
             <br/>I. 我们所收集的信息<br/>
             访问我们的网站时您无需透露任何可辨识个人身份的信息，包括您的电子邮件地址。除个人自愿提供的外，我们的网站不会收集可辨识个人身份的信息，例如在我们的网站注册时或申请宣传册或视频时提供的此类信息。荟邮将此类信息主要用于为我们的客户提供更好的服务，遵守我们的法律义务，经营和发展我们的业务，改进和定制您所查看的内容，并提供您所要求的产品和服务。
             <br/>II. 网站使用信息<br/>
             我们的网络服务器可能收集我们网站访问者的域名或 IP 地址。此类信息可能综合用于评测访问次数、平均网站停留时间、所查看的网页等。荟邮可能将此类信息用于评测网站的使用情况以及改善我们所提供的内容。我们可能与第三方共享此类体验信息或无法辨识我们网站访问者个人身份的其它信息。<br/>
             III. 缓存的使用<br/>
             我们的网站使用“缓存”或其他类似技术帮助个性化您的在线体验，例如在您再次访问时识别您的姓名以及协助我们进行市场营销和广告活动。“缓存”指网页服务 器在您的硬盘上匿名保存的文本文件。“缓存”不能用于在您的计算机上运行程序或投放病毒。您访问我们的网站时留下的“缓存”或其他技术方式不会标识您的个人信息，但的确能让我们监控某些统计数据，以帮助我们改善我们的服务，例如查看某些页面的网站访问者人数或有多少人在访问其他网站时收到了我们的广告。某些“缓存”在您离开我们的网站时被删除（“会话缓存”），而另一些“缓存”在您离开我们的网站后仍继续保留（“持续 缓存”），从而在您返回网站时识别出您。
             <br/>您也可接受或拒绝接受“缓存”。多数网络浏览器自动接受“缓存”，但通常您也可根据需要修改浏览器设置拒绝接受“缓存”。如果您选择拒绝接受“缓存”，您 可能无法完全体验我们网站的互动功能，或我们的部分服务可能无法正常工作，例如出游计划、预订或自动识别为已注册用户。<br/>
             IV. 您向我们提供的信息<br/>
             您不需要注册即可访问我们的网站。如果您向我们发送电子邮件或在我们的网站注册，我们可能收集关于您的信息，包括您的联系信息以及您向我们提供的关于您的任何其他信息。您向我们提供信息属于自愿。<br/>
             联系信息：如果您向我们发送电子邮件或申请信息，我们将保留您的电子邮件地址并将其用于回复您的查询。我们还将您的电子邮件地址用于向您提供有关荟邮的其他信息。
             通过本网站提供个人信息即明确表明您同意我们按照本隐私政策所描述的方式收集和使用所有此类信息。您同意我们可将您提供的个人信息用于回复您的查询，通知您有关您可能感兴趣的产品或服务的信息。如果（例如）您需要轮椅或对饮食有偏好，这可能涉及与关联/相关企业或非关联第三方共享某些信息。您还同意我们可按照本隐私政策中所描述的方式与我们的关联/相关企业和非关联第三方共享您的个人信息。您进一步同意提供最新、准确、完整的信息，并在发生变更的情况下进行更新。
             <br/>V. 儿童隐私<br/>
             由于我们的业务、产品和服务的性质不在于吸引未成年人，因此我们不会有意试图收集或得到年龄小于18岁或相关司法辖区法律规定的更小年龄（“未成年年龄”）的儿童的任何信息。如果我们有理由相信信息提供人的年龄小于未成年年龄，则我们不会收集该信息。提供有关未成年旅客的信息表明您同意您是该未成年的父母、法定监护人或得到父母授权的成年人。
             <br/>VI. 您使用自己的信息<br/>
             您可使用以下提供的地址和号码通过传真、邮件或电子邮件指示我们更改或删除您的信息。您只需按照您所收到任何电子邮件中的说明即可指示我们从我们的邮件列表删除您的电子邮件地址。我们将迅速按您的指示采取措施，但修改或删除信息可能需要两周或更长时间才能生效。如果您使用您的登录信息和密码要求我们提供或 更改信息，我们将按照您的要求执行。
             <br/>VII. 向第三方披露<br/>
             我们不会向无关联第三方出售个人信息，但我们可能与我们的关联/相关企业或无关联第三方共享您的信息，除非您告知我们不得这样做。在下列情况下我们将向无 关联的第三方披露个人信息：(1) 经您要求或授权；(2) 该信息乃为帮助完成您的交易而提供；(3) 该信息的提供是为了遵守法律、有关法规、政府和类似政府要求、法庭命令或传票，或为了执行我们的法定公告披露义务或其他协议，或为了保护我们的权利、财产 或安全或我们的用户或其它人的权利、财产或安全（例如向消费者报告机构提供的防止诈骗的信息等）；(4) 披露是服务或资产购买、转让或销售过程的一部分（例如另一方购买了我们的主要资产，客户信息可能是需转让的资产的一部分）；(5) 该信息是提供给我们的代理人、外部供应商或服务提供商以便其代表我们履行工作职能（例如分析数据、提供市场协助、提供客户服务、处理订单、发送关于我们的 产品或服务的电子邮件等）；(6) 该信息与无关联第三方共享，用于其市场营销；或 (7) 按照本隐私政策描述的方式向其他方提供的信息。我们还将收集关于您的综合数据并出于促销或其他目的向无关联第三方提供此类综合（但非可辨识个人身份）的信 息。<br/>
             VIII. 您的选择 <br/>
             荟邮向您提供有关共享您信息的选项。您可向下列地址写信选择对我们如何共享您的信息做出限制：上海荟邮网络科技有限公司，上海市杨浦区国定东路200号4号楼320室，200433。<br/>
             IX. 信息保护安全程序 <br/>
             我们的网站采用安全套接层（SSL）技术加密您通过网站向我们提供的信息，但您通过电子邮件向我们提供的任何信息是未加密的。SSL 是用于互联网加密的行业标准协议。通过互联网传输数据从来不是百分之百安全。<br/>
             荟邮可在公司办公场所采用电子和纸质方式保存客户信息，包括我们位于中国上海的办公室。所有电子信息在中国上海进行处理和维护。<br/>
             X. 隐私政策不适用于任何链接网站或其他方<br/>
             荟邮的网站可能包含与我们的关联/相关企业和无关联第三方等其他网站的链接。本隐私政策仅适用于荟邮使用和披露在本网站上收集的您的信息（如果有）。尽管我们尽量仅链接到采用与我们相同标准并尊重隐私的网站，但我们不对任何第三方的隐私措施或链接网站的 内容负责，我们鼓励您阅读此等其他方或网站的有关隐私政策条款和条件。<br/>
             XI. 隐私政策修改<br/>
             我们将不时修本隐私政策以反映企业和客户的反馈意见，我们保留随时对本隐私政策进行修改的权利。使用您的信息将符合使用当时有效的隐私政策和使用条款。本隐私政策所含的条款取代之前有关我们对本网站隐私措施的所有通知和政策。我们将在我们的网站发布我们隐私政策的生效日期。我们鼓励您经常查看我们的网站以了解当前的隐私政策，确信荟邮致力于改进我们网站的内容，保护您的信息和您本人，以提高您的在线邮轮旅行计划体验。如果我们对本隐私政策进行任何重大修改，我们将在本网站发布修改后的隐私政策以及修改后的生效日期。
             XII. 欢迎提供意见<br/>
             如果您对我们的隐私政策或网站有任何问题或意见，请与我们联系：上海荟邮网络科技有限公司，上海市杨浦区国定东路200号4号楼320室，200433，电话：+86-021-65112980，传真：+86-021-65112980。荟邮拥有并运营本网站，并管理通过本网站提交的任何信息。<br/>
             生效日期：2014年6月1日<br/>
             © 2014 上海荟邮网络科技有限公司 保留所有权利。
             <br/><br/>
         </div>
     </div>
</div>
