<div id="zibody" style="background-color:#DFDFDF;">
<div style="margin:0 auto;width:864px;">
<br/><br/>
<span class="zi_menu"><span id="tohome" style="cursor:pointer;">首页</span>&nbsp;&nbsp;/&nbsp;&nbsp;使用条款</span>
</div>
    <br/>
    <div style="width: 864px;font-size: 16px;margin:0 auto;text-align: center;line-height: 35px;font-family:微软雅黑;color: #727272">
        TERMS & CONDITIONS<br/>
        <hr style="width: 60px;margin-left: 400px;BORDER-BOTTOM-STYLE: dotted; BORDER-LEFT-STYLE: dotted; BORDER-RIGHT-STYLE: dotted; BORDER-TOP-STYLE: dotted "/>
        <div style="font-size: 50px;margin-top:15px;color: #175591">使用条款</div><br/>
        <img id="myfoot_1" src="images/footer_2.png" style="margin-left: -40px;" width="940"/>
    </div>
     <div style="width: 864px;font-size: 12px;margin:0 auto;font-family:微软雅黑;line-height: 18px;color: #727272;">
         <div style="margin-left: 30px;margin-right: 30px;"> <br/>
             生效日期：2014年6月1日<br/>
             感谢您访问我们的网站（下称“本网站”），本网站由上海荟邮网络科技有限公司（下称“荟邮”）所有和运营。在您访问本网站或使用我们的服务之前，请必须仔细阅读并同意以下使用条款和条件（下称“本使用条款”）。<br/>
             使用本网站<br/>
             一旦使用本网站，即表示您及本网站的其他用户同意本使用条款。仅在您遵守本使用条款的情况下，荟邮同意您访问和使用本网站。未经本网站明确允许，您不得以任何方式拷贝、复制、重新发表、上传、发布、传输或传播本网站中的任何资料。<br/>
             许可：本网站（包括其所有内容，例如文本、图片和用于生成页面的 HTML（“资料”））是我们的财产或我们的供应商或许可人的财产，依照中华人民共和国（“中国”）和/或其它相关司法辖区的法律受专利权、商标权和/或版权保护。 除本使用条款另有规定的外，未经荟邮的明确书面同意，您不得出于任何公共或商业目的而全部或部分使用、下载、上传、拷贝、打印、显示、演示、复制、发表、修改、删除、添加、许可、发布、传输或传播本网站的任何资料。我们授予您访问我们的网站并使用本网站所含信息和服务的个人的非独占性、不可转让的许可。<br/>
             <br/>本网站的规则、限制及修改<br/>
             我们保留出于任何原因在未通知您的情况下自行决定终止、修改、暂停或中断本网站任何方面的权利，包括但不限于信息、数据、文本、音乐、声音、照片、图片、视频、消息或其他材料（下称“内容”）功能和/或可用时间，且我们无须因此而对您或任何第三方承担任何责任。我们还可针对本网站的使用制定规则和限制规定，或者部分或完全地限制您对本网站的访问权，而无需发出通知或承担处罚。我们有权在任何时候自行裁量决定更改这些规则和/或限制规定。
             明确禁止使用<br/>
             使用荟邮授权服务的个人仅可将本网站用于合法目的。您应对自己的传播行为负责，包括上传、传输和发布信息，并对在本网站或通过本网站发布此类信息的后果负责。荟邮明确禁止将本网站用于以下任何目的，并要求所有用户同意不得将本网站用于以下任何目的：<br/>
             1. 发布任何不完整、虚假、不准确或不是您本人的任何信息；<br/>
             2. 假扮其他人；<br/>
             3. 构成或鼓励有可能会构成刑事犯罪 、导致民事责任或其他违反任何市、州、国家或国际法律或法规或不符合公认互联网协议的行为；<br/>
             4. 发布第三方拥有版权或所有权的材料，除非您是版权所有人或已获得所有人同意后发布；<br/>
             5. 发布揭示商业秘密的材料，除非您是其所有人或已获得所有人的同意；<br/>
             6. 发布侵犯其他人任何其他知识产权、隐私权或个人形象的材料；<br/>
             7. （以任何方式）违反中国出口管制法律向外国或特定国家传输或传送从本网站衍生的信息或软件；<br/>
             8. 试图以任何方式干扰本网站或荟邮网络或网络安全，或试图利用本网站的服务对任何其他计算机系统进行未经授权的访问。<br/>
             安全准则 <br/>
             侵犯系统或网络安全可能造成民事或刑事责任。荟邮将调查并可能报告执法机关，并配合执法机关起诉涉及此类违反行为的用户。您不得侵犯或试图侵犯本网站的安全，包括但不限于以下行为： <br/>
             1. 访问非供此用户使用的数据，或登录用户无访问授权的服务器或账户；<br/>
             2. 或未经正当授权，试图探查、扫描或测试系统或网络的漏洞，或突破安全或验证措施。<br/>
             3. 试图干扰为任何用户提供的服务、主机或网络，包括但不限于通过向本网站提交病毒、过载、“冲击”、“邮件轰炸”或“崩溃”；或发送未经请求的电子邮件，包括产品或服务促销和/或广告，或 <br/>
             伪造任何 TCP/IP 数据包报头或任何电子邮件或新闻组发布中报头信息的任何部分。 <br/>
             隐私政策、用户信息<br/>
             在您使用本网站的过程中将要求您向我们提供某些信息。荟邮将按照本网站提供的“隐私政策”使用您通过本网站提供的任何信息。请一定阅读我们的隐私政策。您承认并同意您独自对此类信息的准确性和内容负责。<br/>
             专有权 <br/>
             除另有注明外，在您与荟邮（或本网站显示有标志的其他公司）之间， 荟邮（或相应的公司）是本网站显示任何商标、注册商标和/或服务标志的所有者和/或授权使用者，是本网站上内容和/或信息的版权所有者或被许可人。 <br/>
             除本使用条款另有规定的外，使用本网站不表示授予您在本网站上所访问任何内容、功能或材料的许可，您不得修改、出租、租赁、租借、出售或散布全部或部分该等内容、功能或材料，也不得创造基于该等内容、功能或材料的衍生作品。除本使用条款中允许或经我们另行批准的外，严禁将本网站用于商业用途。除荟邮另有规定的外，您不得出于任何目的下载或保存内容或画面的副本。倘若您以本使用条款规定之外的方式使用本网站，则您可能违反中国、其他国家的版权和其他法律以及有关州和省法律，并可能须对此类未经授权的使用承担责任。本网站包含我们商标、注册商标、服务标志、其他版权材料或任何其他知识产权不表示我们授予任何用户使用它们的许可或其他授权。
             本网站中的信息包括但不限于所有网站设计、文本、图形、界面以及选择和布局受包括版权法在内的法律保护。<br/>
             产品名称、标志、设计、名称、单词或短语可能作为荟邮或其他实体的商标、服务标志和商业名称受法律保护。此类商标、服务标志和商业名称（包括以下列出的项目）可由荟邮在中国或国际上注册。 <br/>
             荟邮标志和服务名称乃属荟邮的商标（下称“荟邮标识”）。未经荟邮事先同意，您同意不以任何方式显示或使用荟邮标识。本网站的任何内容均不构成授予未经荟邮事先书面同意而使用任何 荟邮标识的任何许可或权利。<br/>
             本网站中的链接 <br/>
             您可能从本网站连接到第三方网站（下称“链接网站”）。荟邮不以任何方式审核、控制或检查该等链接网站，荟邮不对任何该等链接网站或其中所提供的其他链接的内容、可用性、广告、产品、信息或用户信息使用或其他资料负责。本网站提供这些链接并不表示荟邮认可该等链接网站或与该等链接网站有关联。您有责任遵守该等链接网站的适当服务条款以及与该等链接网站或其中任何内容相关的版权、秘密、诽谤、行为得当、隐私、安全和出口法律。在任何情况下，荟邮不直接或间接地对与创建或使用链接网站或通过这些链接网站访问信息或资料所引起或造成的任何损失或损害而对任何人承担责任。您若有任何疑问，应向该网站的管理员或网络管理员咨询。荟邮保留自行决定在未经通知的情况下在本网站添加、修改、拒绝或删除链接网站的任何功能或链接，和/或为不同的用户引荐不同的功能或链接的排他性权利。
             <br/>到本网站的任何类型链接必须得到我们的同意。如需取得我们的同意，您可向荟邮写信。但我们保留在任何时候自行决定拒绝任何申请或废除我们已作出任何同意以及要求终止到本网站的任何此类链接的权利。 <br/>
             赔偿<br/>
             对于您使用本网站、您违反本使用条款或在本网站上或通过本网站发布或传输任何材料（包括但不限于您所提供任何信息或材料侵犯第三方知识产权的的第三方主张）以任何方式引起、与之相关或关联的所有主张、责任、损害赔偿、成本和费用（包括合理的律师费），您同意为荟邮、其董事、官员、员工、代理人和关联企业提供辩护，对其进行赔偿并使其免受损害。
             <br/>无保证声明 <br/>
             您理解并同意：<br/>
             本网站（包括但不限于所有内容、功能、材料和服务）均“按原样”提供，而不作出任何类型的明示或暗含的保证，包括但不限于：对信息、数据、数据处理服务或服务连续性的任何保证，对有关信息可用性、准确性、完整性、有用性或内容的保证，以及对所有权、无侵权、可销售性或适合特定目的的保证。荟邮不保证本网站或由本网站提供的功能、内容或服务将及时、安全、无中断或无错误。荟邮不保证本网站将满足用户期望或要求。您通过本网站获取的任何口头或书面建议、结果或信息或材料不构成本使用条款中未明确做出的任何保证。倘若您对本网站不满，您享有的唯一补救是停止使用本网站。
             通过使用本网站下载或以其他方式获得的任何材料由您自行决定并承担风险，您需独自承担因下载任何此类材料而引发的任何损害。<br/>
             <br/>对于第三方或代表第三方在本网站或通过本网站所提供的产品或服务，荟邮不表示赞同，也不提供任何保证或担保。对于非由荟邮直接参与的用户与第三方之间的任何交易，荟邮既不是交易的当事方，也不负责监控此类交易。<br/>
             责任限制<br/>
             <br/>在任何情况下，对于因使用或不能使用本网站或其相关内容、材料和功能所引起或与之直接或间接相关的任何间接、特殊、意外、后果性、 惩戒性或惩罚性损害赔偿（包括但不限于收入或与其利润损失，或业务、数据或销售损失，或替代服务成本），荟邮、其关联企业或其任何董事、高管、员工、代理人或内容或服务提供商不承担责任，即使荟邮、其代表或上述自然人已被告知发生此类损害赔偿的可能性。某些司法辖区不允许限制或排除责任，因此上述限制规定中的部分内容可能不一定适用于您。在任何情况下，对于因本使用条款或您使用本网站所引起的所有损害、损失和诉因 （无论是依照合同或侵权法，包括但不限于过失或其他情况），荟邮对您承担的全部赔偿责任总和最高不超过100.人民币。
             <br/>通知<br/>
             我们可通过电子邮件或普通邮件向您发出通知。本网站还可通过网站上刊登通知或通知链接的方式，发布有关本使用条款的修改或其他事宜的通知。 <br/>
             联系我们<br/>
             如对本使用条款或本网站有任何问题或疑虑，或者若需要按照本使用条款向我们发送任何通知，请通过以下方式与我们联系：上海市杨浦区国定东路200号4号楼320室，电话：+86-021-65112980，传真：+86-021-65112980。 <br/>
             © 2014年 上海荟邮网络科技有限公司 版权所有。 保留一切权利。
             <br/><br/>
         </div>
     </div>
</div>
